.hero {
  position: relative;
  align-items: center;
  padding-bottom: 10vh;
  height: 100vh;
  min-width: 100%;
  overflow: hidden;

  @include widerThan768 {
    overflow: unset;
    align-items: flex-end;
    max-height: 90vh;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      rgba(var(--brandRGB), 0.6),
      rgba(var(--brandRGB), 0)
    );

    @include widerThan768 {
      background: url(/images/svgs/noteit_hero_details.svg) no-repeat;
      filter: blur(5px);
    }
  }

  &__mockupWrap {
    position: absolute;
    top: 25%;
    left: 12%;
    transform: rotate(-30deg) scale(1.4);
    border-radius: 0.5rem;
    transition: transform 0.3s ease-in-out;

    @include widerThan768 {
      position: relative;
      z-index: 5;
      top: unset;
      left: unset;
      transform-origin: bottom right;
      transform: rotate(0);
      border-radius: 0.5rem;
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 0.5rem;

      @include widerThan768 {
        box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.4);
      }
    }

    .fa-play {
      visibility: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.25);

      &--active {
        visibility: visible;
      }
    }
  }

  &__mockup {
    width: 100%;
    border-radius: 0.5rem;
    filter: blur(2px);

    @include widerThan768 {
      filter: blur(0px);
    }
  }

  &__taglineWrap {
    position: relative;
    z-index: 3;
    margin-bottom: 2rem;
    background-color: rgba(#000b14, 0.5);
    border-radius: 0.5rem;
    box-shadow: 6px 6px 12px rgba(#000b14, 0.3);
    color: #f4f4f4;
    padding: 0.5em;
    max-width: 90%;

    @include widerThan768 {
      background-color: transparent;
      box-shadow: none;
      padding: 0;
      color: var(--primaryTextColor);
      max-width: 650px;
    }
  }

  &__tagline {
    font-size: 3.7rem;
  }

  &__subTagLine {
    font-size: 1.2rem;

    @include widerThan1200 {
      font-size: 1.5rem;
      max-width: 70%;
    }
  }

  &__cta {
    position: relative;
    z-index: 3;
    box-shadow: 6px 6px 12px rgba(#000b14, 0.3);
  }
}

.info,
.processContainer {
  margin: 3rem 0;
}

.info {
  position: relative;
  z-index: 3;
  align-items: flex-end;
  margin-top: -20vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 100%;
  color: #eee;
  overflow-x: hidden;
  background: url("/images/svgs/wave.svg") no-repeat;
  background-size: cover;

  @include widerThan768 {
    margin-top: -10vh;
  }

  &__detailsWrap {
    @include widerThan768 {
      margin-top: 10vh;
    }
  }

  &__details {
    max-width: 600px;
  }

  &__list {
    font-style: italic;
  }
}

.processContainer {
  &__process {
    position: relative;
    background-color: #f4f4f4;
    max-width: 350px;
    margin: 2rem;
    padding-top: 1rem;
    line-height: 1.5;

    &::before {
      content: attr(data-process-no);
      position: absolute;
      top: -1rem;
      left: -1rem;
      font-weight: 600;
      padding: 0.5rem 0.8rem;
      border-radius: 0.5rem;
      background-color: var(--accentColor);
      color: var(--primaryTextColor);
    }
  }
}
