.nav {
  background-color: var(--brandColor);
  color: #eee;
  box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.4);
  height: 10vh;
  min-height: 3.125rem;
  padding: 0;

  &__home {
    color: var(--primaryBgColor);
    text-decoration: none;
  }

  &__wrap {
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

    @include widerThan768 {
      padding: 1rem;
    }

    @include widerThan1200 {
      padding: 1.5rem;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    min-width: 150px;

    @include widerThan1200 {
      width: 40vw;
    }
  }

  &__links {
    background-color: var(--primaryTextColor);

    @include widerThan1200 {
      background-color: transparent;
      box-shadow: none;
    }
  }

  &__link {
    justify-content: space-around;
    &:nth-child(odd) {
      background-color: var(--primaryTextColor--dark);

      @include widerThan1200 {
        background-color: transparent;
      }
    }
    &:nth-child(even) {
      background-color: var(--primaryTextColor--light);

      @include widerThan1200 {
        background-color: transparent;
      }
    }
  }

  &__hamBurger {
    background-color: var(--primaryBgColor);

    @include widerThan1200 {
      display: none;
    }

    &::before,
    &::after {
      background-color: var(--primaryBgColor);
    }
    &::after {
      width: 1.5rem;
    }
  }
}

.loginOptions {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 18;
  min-width: 100%;
  height: 100vh;
  background-color: rgba($color: #fff, $alpha: 0.8);

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brandTransparent);
  }

  &__buttons {
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    height: 130px;
    width: 250px;

    .btn {
      background-color: var(--primaryBgColor);
      color: var(--primaryTextColor);
      text-align: center;
      margin-left: 0;
      min-width: 100%;
    }
  }
}
