.saveFacultyAndSemester {
  height: 93vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -35%;
    width: 1300px;
    height: 100%;
    background-color: var(--primaryTextColor);
    box-shadow: -12px -12px 24px rgba(0, 0, 0, 0.6);
    transform: skewX(-20deg);

    @include widerThan768 {
      left: -25%;
    }
  }

  &__content {
    position: relative;
    padding: 0;
    color: #eee;
    max-width: 600px;
  }

  &__greeting {
    margin-bottom: 5vh;

    h1 {
      margin-bottom: 1rem;
    }
  }
}
