@import "notes";
@import "searchNotes";
@import "contributorProfile";
@import "_home";

:root {
  --brandColor: #0970c8;
  --accentColor: #f2e419;
  --brandTransparent: rgba(39, 129, 207, 0.6);
  --primaryBg: #f4f4f4;
  --primaryText: #000b14;
  --bodyFont: "open sans";
  --headingFont: "montserrat";
  font-size: 0.9375rem;
  @include widerThan768 {
    font-size: 1rem;
  }
  scroll-behavior: smooth;
}

#container {
  max-width: 1600px;
  margin: auto;
  margin-top: 7vh;
}

#404Container {
  display: flex;
  min-height: 93vh;

  h1,
  p,
  a {
    margin: auto;
  }
}

@import "guest";
@import "nav";

//modifier

.loginOptions--visible {
  visibility: visible !important;
}

//triggers

.triggerTarget {
  .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: #eee;
    color: #333;
  }
}

.visible {
  visibility: visible !important;
}

@import "flash";

.btn {
  text-decoration: none;

  &--secondary {
    background-color: #333 !important;
    color: var(--primaryBg);
  }

  &--accent {
    background-color: var(--accentColor) !important;
    color: var(--primaryText) !important;
  }
}

@import "footer";
