@import "notes";
@import "searchNotes";
@import "contributorProfile";
@import "_home";

:root {
  --brandColor: #0970c8;
  --brandRGB: 39, 129, 207;
  --accentColor: #f2e419;
  --brandTransparent: rgba(39, 129, 207, 0.6);
  --primaryBgColor: #efefef;
  --primaryTextColor: #000b14;
  --bodyFont: "roboto";
  --headingFont: "montserrat";
  font-size: 0.9375rem;
  @include widerThan768 {
    font-size: 1rem;
  }
  scroll-behavior: smooth;
}

#container {
  max-width: 1600px;
  margin: auto;
  padding: 10vh 0 0 0;
}

main,
section {
  padding: 0.5rem;
}

button,
[type="submit"] {
  background-color: var(--accentColor);
  color: var(--primaryTextColor);
}

.heading {
  position: relative;
  margin-top: 2rem;
  width: max-content;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -1rem;
    left: 0;
    width: 40%;
    height: 0.5rem;
    background-color: var(--brandColor);
    border-radius: 0.5rem;
  }
}

.brandText {
  color: var(--brandColor);
}

#404Container {
  display: flex;
  min-height: 93vh;

  h1,
  p,
  a {
    margin: auto;
  }
}

@import "guest";
@import "nav";

//modifier

.loginOptions--visible {
  visibility: visible !important;
}

//triggers

.triggerTarget {
  .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: #eee;
    color: #333;
  }
}

.visible {
  visibility: visible !important;
}

@import "flash";

.btn {
  text-decoration: none;

  &--secondary {
    background-color: #333 !important;
    color: var(--primaryBgColor);
  }

  &--outline {
    background-color: transparent;
    color: var(--primaryBgColor);
    border: 2px solid var(--primaryBgColor);
  }

  &--large {
    padding: 1em 2em;
    font-size: 1.1rem;
  }

  &--accent {
    background-color: var(--accentColor) !important;
    color: var(--primaryTextColor) !important;
  }
}

.fas,
.fab {
  margin-left: 0.1rem;
}

@import "footer";
