@import "notes";
@import "searchNotes";
@import "contributorProfile";
@import "_home";
@import "saveFacultyAndSemester";

:root {
  --brandColor: #0970c8;
  --brandRGB: 39, 129, 207;
  --accentColor: #f2e419;
  --brandTransparent: rgba(39, 129, 207, 0.6);
  --primaryBgColor: #efefef;
  --primaryTextColor--light: #031524;
  --primaryTextColor: #000b14;
  --primaryTextColor--dark: #02060a;
  --bodyFont: "open sans";
  --headingFont: "roboto";
  font-size: 0.9375rem;

  @include widerThan768 {
    font-size: 1rem;
  }
  scroll-behavior: smooth;
}

#container {
  margin: auto;
  padding: 10vh 0 0 0;
}

main,
section {
  padding: 0.5rem;

  @include widerThan768 {
    padding: 1rem;
  }

  @include widerThan1200 {
    padding: 2rem;
  }
}

.maximumWidth {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.content {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.font-3x {
  font-size: 3rem;
}

button,
[type="submit"] {
  background-color: var(--accentColor);
  color: var(--primaryTextColor);
}

.heading {
  position: relative;
  margin: 2rem 0;
  width: max-content;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -1rem;
    left: 0;
    width: 40%;
    height: 0.5rem;
    background-color: var(--brandColor);
    border-radius: 0.5rem;
  }

  &--white {
    color: #f4f4f4;

    &::before {
      background-color: #f4f4f4;
    }
  }
}

.brandText {
  color: var(--brandColor);
}

#404Container {
  display: flex;
  min-height: 93vh;

  h1,
  p,
  a {
    margin: auto;
  }
}

@import "guest";
@import "nav";

//modifier

.loginOptions--visible {
  visibility: visible !important;
}

//triggers

.triggerTarget {
  .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: #eee;
    color: #333;
  }
}

.visible {
  visibility: visible !important;
}

@import "flash";

.btn {
  position: relative;
  text-decoration: none;
  transform-origin: left;
  transition-timing-function: linear;

  &--secondary {
    background-color: #333 !important;
    color: var(--primaryBgColor);
  }

  &--outline {
    background-color: transparent;
    color: var(--primaryBgColor);
    border: 2px solid var(--primaryBgColor);
  }

  &--large {
    padding: 1rem 2rem;
    font-size: 1.3rem;
  }

  &--accent {
    background-color: var(--accentColor) !important;
    color: var(--primaryTextColor) !important;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }

  &:hover {
    transform: translateY(-3px);
    transform-origin: bottom;

    &::before {
      opacity: 1;
    }
  }
}

.btn__icon {
  margin-left: 0.1rem;
}

.link__icon {
  margin-left: 0.5rem;
}

.form,
fieldset {
  padding-left: 0;
}

@import "footer";
