<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/rahul.css">
    <style>
        main {
            display: flex;
            width: 100vw;
            height: 100vh;
        }

        main>form {
            margin: auto;
        }

        button {
            background-color: aqua;
        }
    </style>
</head>

<body>
    <main>
        <form action="/admin/login" method="POST" class="form">
            <fieldset>
                <label for="username">username</label>
                <input type="text" name="username" autofocus="on" autocomplete="off">
            </fieldset>
            <fieldset>
                <label for="password">password</label>
                <input type="password" name="password" autofocus="on" autocomplete="off">
            </fieldset>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <input type="hidden" name="admin" value="<%=admin%>" />
            <button type="submit" class="btn">Log in as Administrator</button>
        </form>
    </main>
</body>

</html>