<main>
    <h1>Hello, <%=admin%></h1>
    <form action="/admin/login" method="POST" class="form">
        <fieldset>
            <label for="username">username</label>
            <input type="text" name="username" autofocus="on" autocomplete="off">
        </fieldset>
        <fieldset>
            <label for="password">password</label>
            <input type="password" name="password" autocomplete="off">
        </fieldset>

        <input type="hidden" name="adminName" value="<%=admin%>" />
        <button type="submit" class="btn">Log in as Administrator</button>
    </form>
</main>