<div id="adminDashboardScreen" class="adminDashboard">
    <input type="hidden" value="<%=jwt%>">


    <aside class="sideNav">
        <button class="sideNav__item sideNav__item--active" data-action="userQuery">Users</button>
        <button class="sideNav__item" data-action="createNote">Notes</button>
        <button class="sideNav__item" data-action="contributors">Contributors</button>
    </aside>

    <section class="queryContainer">
        <h1 class="queryContainer__title">User Query</h1>
        <div class="createNote">
            <h1>Create note here</h1>

            <form method="POST" id="createNoteForm">
                <input type="number" placeholder="unitNo" name="unitNo">
                <input type="text" placeholder="title" name="title">
                <input type="text" placeholder="subject" name="subject">
                <select name="faculty" id="">
                    <option value="bim">BIM</option>
                    <option value="bca">BCA</option>
                    <option value="csit">CSIT</option>
                </select>
                <input type="text" name="semester" placeholder="semester">
                <label for="note">Note</label>
                <textarea name="note" id="note" cols="30" rows="10"></textarea>
                <select name="contributor" id="contributor">
                    <!-- options are injected via JS -->
                </select>
                <button type="submit" class="btn">create note</button>
            </form>
        </div>

        <div class="searchUser">
            <form method="POST" id="userQueryForm" class="searchUser__form">
                <input type="text" name="searchTerm" placeholder="username/faculty/semester">
                <select name="basedOn" id="">
                    <option value="email">email</option>
                    <option value="faculty">faculty</option>
                    <option value="semester">semester</option>
                </select>
                <button type="submit" class="btn btn--accent">Get Users</button>
            </form>
        </div>

        <div class="searchContributor">
            <form method="POST" action="" id="contributorHandlerForm">
                <button type="submit">Get Contributors</button>
            </form>
            <section id="contributorCardContainer"></section>
        </div>
    </section>

    <section class="result">
        <div class="result__title">
            <p>Showing results for <strong class="result__searchTerm">searchTerm</strong> based on <strong
                    class="result__basedOn">basedOn</strong>:</p>

            <em>Count: <strong class="result__count">0</strong></em>
        </div>

        <div class="result__data"></div>
    </section>


</div>