<form action="/admin/searchUser" method="POST">
    <button type="submit" class="btn">Search Users</button>

</form>
<form action="/admin/createNote" method="POST">
    <button type="submit" class="btn">Create Note</button>
</form>