<div id="flash-wrap" class="flex flex--column">
    <%errors.forEach(error=>{%>
    <p class="flashError"><%=error%></p>
    <%})%>
    <%successes.forEach(success=>{%>
    <p class="flashSuccess"><%=success%></p>
    <%})%>
</div>