<div id="flash-wrap" class="flex flex--column">
    <%if(errors.length){
            errors.forEach((error)=>{%>
    <p class="flashError"><%=error%></p>
    <%})
}%>
    <%if(successes.length){
            successes.forEach((success)=>{%>
    <p class="flashSuccess"><%=success%></p>
    <%})
}%>
</div>