<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteIT</title>
    <noscript>
        <h3>This app requires JavaScript to function.</h3>
        <a href="https://www.enable-javascript.com/">Read More</a>
    </noscript>
    <% for (let css in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
        <% } %>
</head>

<body>
    <div id="root"></div>

</body>

</html>