<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0970c8">
    <title>NoteIT</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
        <link rel="icon" href="https://res.cloudinary.com/rdaahal/image/upload/v1613298797/noteit/images/noteit_j0dofz.png" type="image/png">
    <noscript>
        <h3>This app requires JavaScript to function.</h3>
        <a href="https://www.enable-javascript.com/">Read More</a>
    </noscript>
    <% for (let css in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
        <% } %>
</head>

<body>
    <div id="modal"></div>
    <div id="app"></div>
</body>

</html>