@use "./customProperties";
@use "./media";

button,
[type="submit"] {
  background: var(--button-gradient);
  color: var(--black);
}

.btn {
  position: relative;
  text-decoration: none;
  transform-origin: left;
  transition-timing-function: linear;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }

  @include media.widerThan768 {
    &:hover {
      transform: translateY(-3px);
      transform-origin: bottom;

      &::before {
        opacity: 1;
      }
    }
  }

  &--secondary {
    background-color: #333;
    color: var(--white);
  }

  &--brand {
    background: var(--background-gradient);
    color: var(--white);
  }

  &--outline {
    background: transparent;
    color: var(--white);
    border: 2px solid var(--white);

    &:hover {
      transform: translateY(0);

      &::before {
        opacity: 0;
      }
    }
  }

  &--large {
    padding: 1rem 2rem;
    font-size: 1.3rem;
  }

  &--accent {
    background: var(--button-gradient);
    color: var(--black);
  }

  &--loading {
    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.fab {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  background: var(--background-gradient);
  color: var(--white);
  box-shadow: -8px -8px 16px 8px rgba(0, 0, 0, 0.2);

  @include media.widerThan1200 {
    position: static;
    box-shadow: unset;
    border-radius: unset;
    background: unset;
  }

  span {
    margin: 0;
  }

  .textWithIcon__text {
    display: none;
  }

  .textWithIcon__icon {
    margin-left: 0;
  }
}
