@use "../utils/media";
@use "./customProperties";

.heading {
  position: relative;
  margin: 2rem 0;

  @include media.widerThan1200 {
    width: max-content;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -1.5rem;
    left: 0;
    width: 30%;
    height: var(--space-400-rem);
    background: var(--background-gradient);
    border-radius: var(--space-400-rem);
  }

  &--white {
    color: #f4f4f4;

    &::before {
      background: #f4f4f4;
    }
  }
}
