@use "../utils/media";
@use "../utils/customProperties";

.home {
  &__units-wrapper {
    background: var(--white);
    color: var(--black);
    padding: var(--space-400-rem);
    padding-top: 7rem;
    min-height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;

    @include media.widerThan768 {
      width: 450px;
      position: absolute;
      right: 0;
      box-shadow: -1rem 0 2rem rgba(0, 0, 0, 0.4);
    }

    &--active {
      transform: translateX(0);
    }

    hr {
      color: var(--black);
      margin-bottom: 2rem;
    }
  }

  &__units {
    display: flex;
    flex-direction: column;
  }
}

.unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background: var(--background-gradient);
  color: var(--white);
  padding: var(--space-400-rem);
  border-radius: var(--space-400-rem);
  text-decoration: none;

  &:last-child {
    margin-bottom: 0;
  }

  &__save {
    width: 1.8rem;

    &--saved {
      fill: var(--white);
    }
  }

  em {
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
}

.back {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  border-radius: 0;
  border-bottom-right-radius: 0.5em;
}

.savedNotes {
  position: relative;
  z-index: 2;
  width: 100%;

  &__unit {
    width: 100%;
    flex-direction: column;
    text-align: left;
    background: var(--background-gradient);
    color: var(--white);
    align-items: unset;
  }
}
