@use "../utils/customProperties";

#editContactsForm{
    display: none;

    .contactInputWrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: var(--space-400-rem);

        input{
            width: 100%;
            margin-bottom: 0;
        }

        .removeContactField{
            background-color: #e92a2a;
            color: #eee;
            padding: 0.25rem var(--space-400-rem);
            margin-left: 5px;
            cursor: pointer;
        }
    }

    #addContactWrapper{
        display: flex;
        margin-bottom: 20px;

        button{
            margin-right: 10px;
        }
    }
}