<%-include("includes/header")%>

<main>
    <div id="404Container">
        <h1>Error: 404</h1>
        <p>The page that you are looking for is not available.</p>
        <a href="/">Back to Homepage</a>
    </div>
</main>

<%-include("includes/footer")%>