<%-include("includes/header")%>

<main>
    <h2>Hello <%=user.name%></h2>
    <h3>Choose your faculty and semester</h3>
    <form action="">
        <input type="text" name="hello">
        <input type="text" name="hello">
    </form>
</main>


<%-include("includes/footer")%>