<%-include("includes/header") %>


<main class="flex flex--cr" id="home-guestScreen">
    <div id="intro">
        <h2 class="mb20">A place to find reference notes based on the syllabus provided by <abbr
                title="Tribhuvan University">TU</abbr>
        </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eos quas at deserunt sint fugit nobis! Error
            doloremque blanditiis odio.</p>
    </div>


    <div>
        <h3>Lorem ipsum dolor sit amet consectetur </h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque debitis dolorum omnis commodi aliquid
            officiis hic. Sapiente illum natus, vitae quam ex explicabo asperiores dolore consectetur maxime ducimus
            sed, in veniam? Quaerat inventore, voluptas officia, repellat maiores corporis mollitia libero ut in ipsa
            cum temporibus cupiditate ullam aut, laboriosam ab!</p>

    </div>
</main>

<%-include("includes/footer") %>