<main id="home-guestScreen" class="guestScreen">
    <svg xmlns="http://www.w3.org/2000/svg" class="guestScreen__illustration" width="614" height="494.9"
        viewBox="0 0 614 494.9">
        <defs>
            <filter id="c" x="86.2" y="302.9" width="153.7" height="172.1" filterUnits="userSpaceOnUse">
                <feOffset dx="-3" />
                <feGaussianBlur stdDeviation="3" result="d" />
                <feFlood flood-opacity=".2" />
                <feComposite operator="in" in2="d" />
                <feComposite in="SourceGraphic" />
            </filter>
            <filter id="d" x="92.2" y="301" width="147.1" height="98.2" filterUnits="userSpaceOnUse">
                <feOffset dy="3" />
                <feGaussianBlur stdDeviation="3" result="f" />
                <feFlood flood-opacity=".2" />
                <feComposite operator="in" in2="f" />
                <feComposite in="SourceGraphic" />
            </filter>
            <filter id="f" x="130.3" y="394.1" width="121.5" height="44.3" filterUnits="userSpaceOnUse">
                <feOffset dy="3" />
                <feGaussianBlur stdDeviation="3" result="i" />
                <feFlood flood-opacity=".2" />
                <feComposite operator="in" in2="i" />
                <feComposite in="SourceGraphic" />
            </filter>
            <clipPath id="b">
                <path
                    d="M420 397a153 153 0 00-47 49c-20 33-35 80-11 86l23-1 45-16-5-9s-39 21-46 21-15 2-19-1 13-63 48-83 12-46 12-46z"
                    transform="translate(-350 -397)" fill="none" />
            </clipPath>
            <clipPath id="e">
                <path d="M391 430s59 5 88-2a25 25 0 019 11c3 9 8 36-9 43s-76 5-84-2-4-50-4-50z"
                    transform="translate(-390 -428)" fill="none" />
            </clipPath>
            <linearGradient id="a" x1=".5" y1="1" x2=".5" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="gray" stop-opacity=".3" />
                <stop offset=".5" stop-color="gray" stop-opacity=".1" />
                <stop offset="1" stop-color="gray" stop-opacity=".1" />
            </linearGradient>
        </defs>
        <g transform="translate(230)">
            <ellipse cx="307" cy="39" rx="307" ry="39" transform="translate(-230 417)" fill="rgba(51,51,51,0.09)" />
            <path
                d="M696 553s-28 7-40 20c-3 4-9 7-15 9v-19l13-23 3-9c5-5 0-19 0-19s3-10 1-11 0-7 1-9l1-7c0-2-2-4-6-6s1-4 3-4 3-7 0-10 1-4 2-8-5-2-5-2v-31l-3-27c-1-17-9-19-9-19a78 78 0 01-11-5 73 73 0 00-11-4 58 58 0 01-15-2 45 45 0 00-10-2l-1-1a39 39 0 01-18-19v-1a42 42 0 005-6v3c4-8 18-10 19-20a10 10 0 000-1v-1l-1-8a15 15 0 010-2c1-8 6-14 9-21a25 25 0 001-6v-4a28 28 0 00-9-20c-5-4-11-7-14-12l-4-8c-3-5-9-7-15-7s-11-1-16-3l-11-4a21 21 0 00-22 8l-6 9c-5 4-15 2-19 7-3 3-3 7-3 11v1a9 9 0 000 1l1 5v2a9 9 0 000 1v1a8 8 0 000 1 64 64 0 01-7 32c-4 9-11 17-12 27a29 29 0 000 5v2a5 5 0 000 1v1l6 20a54 54 0 011 8v6a53 53 0 01-7 2c-4 0-16 11-16 14l-5 22-10 69s-5 5-4 9 0 9 0 9-9 4-7 6 1 7 0 10-4 8 0 9 0 13 0 13 13-1 12 6c0 2 9 9 12 11v36a110 110 0 01-14-5c-8-3-52-10-61 11s13 48 19 51l6 6c1 2 8 3 8 3l9 5c1 1 12 5 25 8s-10 24 7 22 25-11 37-11l23-1a60 60 0 016 1 86 86 0 0016 4s13 7 20 5a5 5 0 002-1l4-3c9 0 20 2 23 3 8 3 61-1 61-1s34 1 44 4 6-30-12-34a74 74 0 00-15-2 33 33 0 004-4l11-1 27-13a62 62 0 0016-14l13-7c4-2 5-9 5-9 27-61-42-53-42-53zm-77-77v-3 3zm0 21l2 3c2 2-2 3-1 7v4l-1-14z"
                transform="translate(-394 -223)" fill="url(#a)" />
            <path d="M70 369s-17-4-25-8-51-10-60 10 13 48 18 51 61-38 61-38l44 19 8-29z" fill="#122739" />
            <rect width="189.1" height="65.8" rx="32.9" transform="translate(88 374)" fill="#122739" />
            <path d="M277 407a33 33 0 01-5 18 33 33 0 01-4 6 33 33 0 01-24 9H121a33 33 0 010-66h123a33 33 0 0133 33z"
                fill="#001323" opacity=".1" />
            <path
                d="M174 409s-19 5-34 5-88 30-88 30-10 23 7 21 25-10 37-10 50-4 50-4l36-27zM186 185l-34 7h-2l-28-8-25-33s12 0 22-5l1-1a21 21 0 009-11l1-2a30 30 0 00-1-14c-3-14 5-18 15-18 14 1 34 10 34 10a41 41 0 004 13v2a39 39 0 0018 19h1l4 1c26 10-19 40-19 40z"
                fill="#fbbebe" />
            <path d="M182 125a43 43 0 01-53 9c2-5 2-10 0-16-8-34 49-8 49-8a41 41 0 004 15z" fill="#001323"
                opacity=".1" />
            <path d="M193 94a43 43 0 01-7 23 42 42 0 01-4 6 43 43 0 01-29 14h-3a43 43 0 1143-43z" fill="#fbbebe" />
            <path
                d="M186 185l-34 7h-2l-28-8-25-33s12 0 22-5l1-1a40 40 0 0029 13 42 42 0 006-1l14-2c10 0 24-3 31-11h1l4 2c26 9-19 39-19 39z"
                fill="#001323" opacity=".1" />
            <path
                d="M225 272l5 80H81l1-46 1-37v-13l1-42-4-4-23-20c0-1 6-20 5-22s12-14 16-14a54 54 0 007-2l17-6h17a40 40 0 0030 13 41 41 0 006 0l14-2c10-1 25-4 32-13a45 45 0 0110 2 59 59 0 0015 2 74 74 0 0111 4 79 79 0 0011 5s7 1 8 19 4 27 4 27l-35 30v39z"
                fill="#0970c8" />
            <path d="M57 323l5 9 19 7 14-25-13-8-19-8-12 7z" fill="#fbbebe" />
            <path d="M223 365s28-3 39-15 40-20 40-20 69-8 42 53c0 0-2 7-6 9l-12 7-106-9z" fill="#122739" />
            <path
                d="M277 407a33 33 0 01-5 18l-66 8c-10 3-30-2-32-3h-1l-5-19c-1-4-2-6-1-7 2 0 18-5 18-2s49-19 49-19l1 19c5 6 42-3 42 5z"
                fill="#001323" opacity=".1" />
            <path d="M328 391l-2 8a62 62 0 01-17 13l-27 14s-63 5-74 8-33-3-33-3-8-25-6-26 18-5 18-2 49-19 49-19z"
                fill="#122739" />
            <path d="M152 458s31 2 38 5 61-1 61-1 34 1 44 4 6-30-12-34-44 2-44 2l-32-5c-3-1-26 1-26 1z"
                fill="#fbbebe" />
            <path
                d="M29 376s41 4 53 10zM286 349s-32 8-45 19zM32 367s19 2 18 4-18-4-18-4zM3 412l2 9 7 7c1 2 8 2 8 2l9 5c2 1 21 8 39 10s52 7 59 9a86 86 0 0015 4s14 7 21 5 19-34 19-34-47-11-48-15-47-20-47-20l-27 1z"
                fill="#001323" opacity=".1" />
            <path
                d="M1 413l2 9 7 7c1 3 8 2 8 2l9 5c2 2 21 8 39 10s52 7 59 9a86 86 0 0016 4s13 7 20 5 20-34 20-34-47-11-49-15-68-31-68-31l-21-4z"
                fill="#122739" />
            <path
                d="M62 187l-5 3-10 68s-6 5-4 9 0 9 0 9-9 3-7 6 1 7 0 10-4 8 0 9 0 12 0 12 13-1 12 6c-1 3 14 13 14 13s-17-30 21-26l3-17s3-10 0-13 0-17 0-17l1-61z"
                fill="#0970c8" />
            <path d="M54 275c1 1 21 4 22 7s-22-7-22-7zM48 292s2-8 9-7-9 7-9 7zM44 305s5-12 11-11-11 11-11 11z"
                fill="#001323" opacity=".1" />
            <path d="M262 304l-2 13s-21 39-25 40-25-26-25-26l-6-27 22-4 10-10s25 3 26 14z" fill="#fbbebe" />
            <path
                d="M252 197l8 6v30s6-1 5 2-5 5-2 8 2 9 0 10-7 3-3 4 6 4 6 6 1 5-1 7-3 6-1 8-2 11-2 11 6 15 1 19l-3 9s4-29-34-17l-1-15c-1-4 4-5 2-8s-7-8-5-9 2-4 1-6-4-3-1-5 4-5 2-6-4-5-2-7 3-28 3-28 9-38 27-19z"
                fill="#0970c8" />
            <path
                d="M248 248s12-3 12 0-12 0-12 0zM235 257s16-4 18-1-18 1-18 1zM232 265s23-3 25 2-25-2-25-2zM235 275c1 0 23 2 23 6s-23-6-23-6z"
                fill="#001323" opacity=".1" />
            <g transform="translate(60 289)">
                <rect width="186.6" height="106" rx="10.5" fill="#122739" />
                <circle cx="6.9" cy="6.9" r="6.9" transform="translate(86 46)" fill="#e7effd" />
            </g>
            <path d="M92 224s17 13 31 3c0 0-23 2-31-3zM182 227s18 14 32 4c0 0-24 2-32-4z" fill="#001323" opacity=".1" />
            <path
                d="M193 94a43 43 0 01-7 23c0-12-3-24-9-34-6-9-24-25-37-20a9 9 0 00-5 5c-1 5 2 7 5 11a32 32 0 014 21 30 30 0 01-1 3c-2 7-6 16-2 22 4 4 11 6 11 11a6 6 0 011 1l-5 10c-1 4-1 8 1 12 2 6 5 11 6 17s-1 10-3 16l-5 15c-1 10 2 21-4 29a4 4 0 01-2 2c-4 0-4-7-7-9 0 4 1 8-1 12s-5 7-9 7l-2-10a27 27 0 01-10 7 72 72 0 0111-28c-11 5-17 16-22 26-4 6-7 13-6 20l2 9c0 3-1 6-4 8-2 1-5-1-7-3v-1a11 11 0 01-1-1 27 27 0 01-2-5v-1c-3-12-5-25-3-37l2-14a25 25 0 00-2-8c-2-6-7-13-10-19a1 1 0 010-1c-1-3-2-8 1-11l5-3c5-3 7-10 8-16a54 54 0 001-8l17-6h17a22 22 0 0010-12l1-2a43 43 0 1163-38z"
                fill="#001323" opacity=".1" />
            <path
                d="M143 101c-2 8-6 16-2 22 4 4 11 6 11 11 1 4-2 8-4 11-3 10 6 19 7 29 2 11-6 20-8 31-1 10 2 21-4 29a4 4 0 01-2 2c-4 1-4-7-7-9 0 4 1 8-1 12s-5 8-9 7l-2-9a27 27 0 01-10 6 72 72 0 0111-28c-11 5-17 16-22 26-4 6-7 13-6 21l2 8c0 3-1 7-4 8-2 1-5-1-7-3s-2-5-3-7c-3-13-5-26-3-38l2-14c-1-10-8-18-12-27-1-4-2-9 1-11l5-4c5-3 7-10 8-16a55 55 0 000-20c-2-9-7-19-6-29s8-18 12-26a63 63 0 007-37c-1-6-2-13 2-17 4-6 14-4 19-8 3-2 4-6 6-9a21 21 0 0122-8l11 5c5 2 11 1 16 2s12 3 15 7l4 8c3 5 9 8 14 12a28 28 0 018 29c-3 8-10 15-9 24 0 3 2 6 1 10-1 9-15 11-20 20 1-14-2-28-9-40-6-9-24-25-37-20a9 9 0 00-5 6c-1 4 2 6 5 10a31 31 0 013 24z"
                fill="#122739" />
            <g opacity=".2" fill="#001323">
                <path
                    d="M85 149a55 55 0 00-1-13c-2-9-6-17-6-25-1 9 4 18 6 27a55 55 0 011 11zM120 216l3-4c-11 5-17 16-22 26-4 6-7 13-6 19 0-5 3-11 6-16 5-9 10-19 19-25zM97 270l-4 5c-2 1-5 0-7-2s-2-5-3-8c-2-9-4-18-4-27 0 10 2 20 4 30 1 2 1 5 3 7s5 4 7 3c3-1 4-5 4-8zM144 92a30 30 0 01-1 7c-1 5-4 11-4 16l4-14a30 30 0 001-9zM97 53a62 62 0 000-10l-1-7a52 52 0 001 10 62 62 0 010 7zM152 134c0 3-3 6-4 9a13 13 0 00-1 6 12 12 0 011-3c2-4 5-8 4-12zM82 214c-1-10-8-19-12-28a19 19 0 01-1-5 15 15 0 001 8c4 9 11 17 12 27v-2zM177 79c-6-9-24-25-37-21a9 9 0 00-5 6 6 6 0 000 3 9 9 0 015-6c13-5 31 11 37 21s9 22 9 35c1-14-2-27-9-38zM206 98c-1 10-15 12-20 20v3c5-9 19-11 20-20a11 11 0 000-3zM214 65c-3 8-10 15-9 23 1-7 6-13 9-21a26 26 0 001-10 25 25 0 01-1 8zM143 232a4 4 0 01-2 2c-4 0-4-7-7-10v3c3 3 3 10 7 9a4 4 0 002-2c4-4 4-10 4-16 0 5-1 10-4 14zM133 237c-1 4-5 7-9 6l-2-9a27 27 0 01-9 6l-1 3a27 27 0 0010-6l2 9c4 1 8-3 9-7a21 21 0 001-8 18 18 0 01-1 6zM147 203a48 48 0 000 7 38 38 0 010-5c2-10 9-19 8-30 0 10-6 18-8 28z" />
            </g>
            <path
                d="M-111 332a153 153 0 00-47 49c-20 33-36 79-11 85l23-1 44-15-4-9s-39 21-46 21-15 1-19-2 13-62 48-82 12-46 12-46z"
                fill="#0970c8" />
            <g transform="translate(-182 332)" clip-path="url(#b)">
                <path
                    d="M71 0a153 153 0 00-47 49c-20 33-36 80-12 86l23-1 45-16-5-9s-39 21-45 21-16 2-19-1 13-63 48-83S71 0 71 0z"
                    fill="#0970c8" opacity=".5" />
            </g>
            <path
                d="M-111 332a153 153 0 00-47 49c-20 33-36 79-11 85l23-1 44-15-4-9s-39 21-46 21-15 1-19-2 13-62 48-82 12-46 12-46z"
                fill="none" />
            <path d="M-86 310s0-10 15-11 17 13 17 13h-5s0-9-11-9-10 9-10 9z" fill="#0970c8" />
            <g transform="translate(-230)" filter="url(#c)">
                <path d="M123 466c-31 0-25-139-22-146s93-10 102-7 45 141 25 152z" fill="#0970c8" />
            </g>
            <path d="M-107 466c-31 0-25-139-22-146s94-10 103-7S18 454-2 465z" fill="none" />
            <g transform="translate(-230)" filter="url(#d)">
                <path d="M101 320c11 3 18 48 33 60s86 8 94 0-8-61-19-68-19 0-52-4c-47-5-56 12-56 12z" fill="#005aa7" />
            </g>
            <path d="M-47 346l13 11a2 2 0 010 3l-10 11a2 2 0 01-2 0l-14-13a2 2 0 010-2l11-9a2 2 0 012-1z"
                fill="#0970c8" />
            <path d="M-91 403s60 5 89-3a25 25 0 019 12c2 8 8 35-9 43s-76 5-84-3-5-49-5-49z" fill="#1c87e2" />
            <g transform="translate(-91 400)" clip-path="url(#e)">
                <path d="M1 3s59 5 88-3a25 25 0 019 12c3 8 8 35-9 42s-76 6-84-2S1 3 1 3z" fill="none" opacity=".4" />
            </g>
            <g transform="translate(-230)" filter="url(#f)">
                <path d="M139 403s7 19 11 22 81 2 90-4-4-20-12-21c0 0-54 6-89 3z" fill="#005aa7" />
            </g>
        </g>
    </svg>

    <div class="guestScreen__taglineWrap">
        <h1 class="guestScreen__tagline">We care about your time. And will help you save it.</h1>
        <p>By providing well maintained notes.</p>
    </div>

    <button type="button" class="guestScreen__cta btn btn--accent btn--large" data-trigger-type="add"
        data-trigger-target="loginOptions" data-trigger-action="loginOptions--visible">Let's NoteIT <i
            class="fas fa-sign-in-alt btn__icon"></i></button>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1336 768" class="guestScreen__clipReference">
        <clipPath id="guestScreenMask">
            <path d="
            M 0 0
            H 1336
            V 480
            C 
              1336 642
              1336 432
              0 600
            V 0
                " />
        </clipPath>
    </svg>


</main>

<section id="info">
    <h2 class="heading">What is NoteIT ?</h2>
    <p>Being a student, its pretty challenging to prepare "well organized" notes. Maybe because of,</p>
    <ul>
        <li>lack of time,</li>
        <li>"confusion" regarding the topic or,</li>
        <li>lack of "good" reference.</li>
    </ul>
    <p>Whatever the reason is, most of us will agree that its pretty difficult to prepare "organized" and "readable"
        notes. </p>

    <h3 class="brandText">That is the reason why we created NoteIT.</h3>
    <p>We will provide well organized notes that are easy to read and understand, based on the exact syllabus provided
        by the TU.</p>
</section>

<section id="processContainer">
    <h2 class="heading">This is how it works</h2>

    <div id="processWrap" class="flex flex--cr flex--wrap">
        <div class="process card" data-process-no="1">
            <h3>Sign up for an account</h3>
            <p>You can easily sign up via "Facebook" or "Google" and be a member of NoteIT.</p>
        </div>
        <div class="process card" data-process-no="2">
            <h3>Get a list of available notes</h3>
            <p>We will send you a list of notes based on your faculty and semester.</p>
        </div>
        <div class="process card" data-process-no="3">
            <h3>View the notes</h3>
            <p>Easily view and read notes on up to three different device(s), using the same account.</p>
        </div>
        <div class="process card" data-process-no="4">
            <h3>Save the notes</h3>
            <p>You can "save" the notes into your account to have easy access later on.</p>
        </div>
        <div class="process card" data-process-no="5">
            <h3>Ask questions</h3>
            <p>Clear your confusions by chatting with the "note contributor" themselves.</p>
        </div>
    </div>
</section>