<main class="" id="home-guestScreen">
    <div id="home-guestScreen__tagline">
        <h1>We care about your time.</h1>
        <h2>And will help you save it.</h2>
    </div>

    <button type="button" class="btn btn--accent" data-trigger-type="add" data-trigger-target="loginOptions"
        data-trigger-action="loginOptions--visible">Login/Sign up</button>
</main>

<section id="info">
    <h2 class="heading">What is NoteIT ?</h2>
    <p>Being a student, its pretty challenging to prepare "well organized" notes. Maybe because of,</p>
    <ul>
        <li>lack of time,</li>
        <li>"confusion" regarding the topic or,</li>
        <li>lack of "good" reference.</li>
    </ul>
    <p>Whatever the reason is, most of us will agree that its pretty difficult to prepare "organized" and "readable"
        notes. </p>

    <h3 class="brandText">That is the reason why we created NoteIT.</h3>
    <p>We will provide well organized notes that are easy to read and understand, based on the exact syllabus provided
        by the TU.</p>
</section>

<section id="processContainer">
    <h2 class="heading">This is how it works</h2>

    <div id="processWrap" class="flex flex--cr flex--wrap">
        <div class="process card" data-process-no="1">
            <h3>Sign up for an account</h3>
            <p>You can easily sign up via "Facebook" or "Google" and be a member of NoteIT.</p>
        </div>
        <div class="process card" data-process-no="2">
            <h3>Get a list of available notes</h3>
            <p>We will send you a list of notes based on your faculty and semester.</p>
        </div>
        <div class="process card" data-process-no="3">
            <h3>View the notes</h3>
            <p>Easily view and read notes on up to three different device(s), using the same account.</p>
        </div>
        <div class="process card" data-process-no="4">
            <h3>Save the notes</h3>
            <p>You can "save" the notes into your account to have easy access later on.</p>
        </div>
        <div class="process card" data-process-no="5">
            <h3>Ask questions</h3>
            <p>Clear your confusions by chatting with the "note contributor" themselves.</p>
        </div>
    </div>
</section>