<%-include("includes/header") %>

<main class="" id="home-guestScreen">
    <div id="home-guestScreen__tagline">
        <h1>A Platform Designed for Students just like you.</h1>
        <button type="button" class="btn btn--accent" data-trigger-type="add" data-trigger-target="loginOptions"
            data-trigger-action="loginOptions--visible">Login/Sign up</button>
    </div>
</main>

<%-include("includes/footer") %>