.normalText {
  font-family: var(--paraFont);
  color: var(--primaryText);
  text-decoration: none;
  font-size: 1rem;
}

.thin {
  font-weight: 300;
}

a {
  display: inline-block;
}

.mobile {
  display: block;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .desktop {
    display: block;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.centerContents {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex--cr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 1200px) {
  .flex--cr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.mt5 {
  margin-top: 5px;
}

.mr5 {
  margin-right: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.ml5 {
  margin-left: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.pt5 {
  padding-top: 5px;
}

.pr5 {
  padding-right: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.pl5 {
  padding-left: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pr10 {
  padding-right: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.pl10 {
  padding-left: 10px;
}

.noBullets {
  list-style: none;
}

.visible {
  visibility: visible !important;
}

.btn {
  border: none;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 0.3rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.btn:hover, .btn:focus {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.btn--brand {
  background-color: var(--brandColor) !important;
}

.color--brand {
  color: var(--brandColor);
}

nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7vh;
  padding: 0.5rem 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
}

nav #hamBar,
nav #hamBar::before,
nav #hamBar::after {
  width: 40px;
  height: 4px;
  background-color: #333;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

nav #hamBar {
  position: relative;
  z-index: 2;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

nav #hamBar::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
}

nav #hamBar::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
}

nav .hamActive {
  background-color: transparent !important;
}

nav .hamActive::before {
  -webkit-transform: rotate(45deg) translateY(10px);
          transform: rotate(45deg) translateY(10px);
}

nav .hamActive::after {
  -webkit-transform: rotate(-45deg) translateY(-10px);
          transform: rotate(-45deg) translateY(-10px);
}

nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: #ccc;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

@media only screen and (min-width: 769px) {
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: transparent;
    position: relative;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    top: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav ul li {
  list-style: none;
  margin-bottom: 2rem;
  cursor: pointer;
}

@media only screen and (min-width: 769px) {
  nav ul li {
    margin: 0;
    margin-right: 2rem;
  }
}

nav ul li:last-child {
  margin: 0;
}

nav ul li a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primaryText);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

nav ul li a:hover, nav ul li a:focus {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

nav .ulActive {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.form {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  padding: 1rem;
  max-width: 500px;
}

.form fieldset {
  border: none;
  position: relative;
}

.form fieldset label {
  font-size: 0.8rem;
  display: block;
  margin-bottom: 5px;
}

.form fieldset .pseudoBorder {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #1686be;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.form fieldset .pseudoBorder--active {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.form .asPlaceholder {
  display: inline-block;
  position: relative;
  -webkit-transform: translate(0.75rem, 24px);
          transform: translate(0.75rem, 24px);
  z-index: 2;
  color: #333;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  border: none;
  background-color: #eee;
  border: 1px solid #444;
  color: #333;
  padding: 0.5rem 0.75rem;
  position: relative;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.form input:focus,
.form textarea:focus {
  background-color: #ccc;
}

.form input[type="radio"],
.form input[type="checkbox"] {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
}

.form select {
  padding: 0.7rem;
  text-align: center;
  width: 100%;
}

.form select option {
  text-align: center;
  background-color: #eee;
}

.cardsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.cardsContainer .card {
  width: 300px;
  height: 200px;
  background-color: #fff;
  margin: 0 auto;
  -webkit-box-shadow: 6px 6px 12px -7px rgba(0, 0, 0, 0.4);
          box-shadow: 6px 6px 12px -7px rgba(0, 0, 0, 0.4);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=rahul.css.map */