<div id="contributor">
    <p>Contents are contributed by <a href="#" id="contributor__name">placeholderJohn</a></p>
</div>
</main>

<div id="notesScreen__savedUnits">
    <h4>Saved Notes</h4>
    <%if(savedNotes.length){%>
    <%-savedNotes.map((note)=> {
            return `
            <input type="hidden" value="${note}" class="savedNoteId">
        `}).join("")%>
    <%}else{%>
    <p>The notes you "save" will appear here.</p>
    <%}%>
</div>

<footer>Copyright NoteIT</footer>
<script src="/main-bundled.js"></script>
</body>

</html>