<%let name = user.firstName;
    let welcomeMessage;

    if(!user.isApproved)
        welcomeMessage = "your account is currently being reviewed and will be approved within 24 hours.<br />We will notify about it via either email or, phone.";
    else if(user.isSubscriptionExpired)
        welcomeMessage = "Your subscription has expired, <strong>Upgrade your Account</strong>";
    else if(user.isApproved && !user.isSubscriptionExpired)
        welcomeMessage = "here is the list of notes available to you.";

%>

<main class="mainContainer flex flex--cr" id="homeScreen">
    <div class="mainContainer__homeText">
        <h1><span class="color--brand"><%=name%>,</h1>
        <h3><%=welcomeMessage%></h3>

        <button class="btn btn--large btn--accent mt10">Explore More <i class="fas fa-angle-double-right"></i></button>
    </div>

    <%if(!user.isApproved){%>
    <svg class="mainContainer__thankingIllustration" viewBox="0 0 615 571" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="M330.5 571c82 0 148.5-5 148.5-11.4 0-6.3-66.5-11.4-148.5-11.4s-148.6 5.1-148.6 11.4c0 6.3 66.5 11.4 148.6 11.4z"
            fill="#0970C8" />
        <path
            d="M396.5 49v2.5l-.1.9V53.6l-.1.6-.2 1.5-.2 1v.7l-.1.3-.1.2-.1.6-.1.5-.1.4-.2.7v.5l-.2.5-.2.7v.2l-.3.7-.6 2.1-.3.7-.1.3a47.8 47.8 0 01-6.6 11.8l-.5.7a50.2 50.2 0 01-4.1 4.7l-68.7 68.8L244.9 83a48.7 48.7 0 01-12.6-46.7v-.5l.2-.2.2-.7.5-1.6.2-.7 1.2-3 .2-.7.5-.9.6-1.4v-.1l.4-.7.4-.8.5-.9.3-.4.1-.2.4-.6.3-.6 1-1.3.2-.5.4-.5.4-.6.6-.6.4-.6.2-.2.3-.5.6-.6.2-.3.5-.5.4-.5 1.4-1.3.5-.5.8-.8.6-.5.6-.6.5-.4a10.3 10.3 0 011.3-1l.4-.3 2.3-1.7.4-.3.5-.3.4-.3.7-.4.3-.2.5-.3 1.9-1 .4-.2.6-.3.5-.3.4-.2.5-.2.5-.2.5-.3 2-.8.5-.2.5-.2.5-.2.4-.1 1-.3.4-.2.4-.1.4-.1.6-.2 1-.2 2.7-.6h.4l.5-.2h.5l.7-.1.4-.1a49 49 0 012.7-.3H282.9l2.2.3 1 .1h.6l.5.2h.6l.3.1 2.7.6 1.2.3h.3l.4.2 1 .3.4.1 2 .7.4.2.6.2 1 .4 1 .4.4.2.5.2.5.3.5.2.6.3.5.3 1.1.6.5.3 1.6 1 .4.2.5.3.5.4.3.2 1.9 1.4.4.3.9.7.4.4.5.3.6.6.6.5.8.8.5.5.5-.5.8-.8.6-.5.7-.5.4-.4a9.6 9.6 0 011.3-1l.4-.4 2.3-1.6.5-.3.4-.3.5-.3.6-.4.3-.2.5-.3a49 49 0 011.9-1l.4-.3.6-.3.5-.2.4-.2.5-.3.5-.2.5-.2a51 51 0 012-.8l.5-.2.6-.2.5-.2.4-.1.9-.3.5-.1.3-.1.4-.2.7-.1.9-.3 2.7-.6h.4l.5-.1.6-.1.6-.1h.4l2.7-.3H351.6l2.2.2 1 .1.6.1.5.1.5.1h.4l2.7.7 1.1.2.4.1.4.2 1 .2.4.2 2 .6.4.2.6.2 1 .4 1 .5.4.1.5.3.5.2.5.3.6.3.5.2 1.1.7.5.2 1.6 1 .4.3.5.3.4.3.4.2 1.9 1.4.4.4 1 .6c0 .2.2.3.3.4l.5.4.5.5.6.5.3.3.6.5.2.3.3.2.6.6a31.7 31.7 0 012 2.2l.8 1c.9 1 1.7 2.2 2.5 3.4l.3.5.4.5.3.4.4.8.5.7.2.5.2.3.2.4.3.5.3.5 1.7 3.8.2.6.6 1.6.2.5.2.6.2.6.1.4.2.6.2.7c0 .4.2.7.3 1.1l.1.6.2.9v.3l.2.5v.7l.1.3v.3l.2.6v.6l.2.7v1l.1.7v.3l.1.7V47.7l.1 1.5z"
            fill="#F2E419" />
        <path opacity=".1"
            d="M396.5 49v2.5l-.1.9V53.6l-.1.6-.2 1.5-.2 1v.7l-.1.3-.1.2-.1.6-.1.5-.1.4-.2.7v.5l-.2.5-.2.7v.2l-.3.7-.6 2.1-.3.7-.1.3a48.7 48.7 0 00-81.7-45.7A47.8 47.8 0 00277.5 6a48.6 48.6 0 00-45.3 30.4l.2-.4v-.3l.2-.7.5-1.6.3-.7 1.2-3 .2-.7.4-.9.7-1.4v-.1l.4-.7.4-.7.5-1 .3-.4.1-.2.4-.6.3-.6.9-1.3.3-.4.4-.6.4-.5.5-.7.5-.6.2-.2.3-.4.6-.7.2-.2.4-.5.5-.5 1.3-1.4.6-.5.8-.8.6-.5.6-.6.5-.3a10.3 10.3 0 011.3-1l.4-.4 2.3-1.7.4-.3.5-.3.4-.3.7-.4.3-.1.5-.3c.6-.4 1.2-.8 1.9-1l.4-.3.6-.3.4-.2.5-.3.5-.2.5-.2.5-.2 2-.9.5-.2.5-.2.5-.2.4-.1 1-.3.4-.2.4-.1.4-.1.6-.2 1-.2 2.7-.6h.4l.5-.2h.5l.7-.1.4-.1a49 49 0 012.7-.3H282.9l2.2.3 1 .1h.6l.5.2h.6l.3.1 2.7.6 1.2.3h.3l.4.2 1 .3.4.1 2 .7.4.2.6.2 1 .4 1 .4.4.2.5.2.5.3.5.2.6.3.5.3 1.1.6.5.3 1.6 1 .4.2.5.3.5.4.3.2 1.9 1.4.4.3.9.7.4.4.5.3.6.6.6.5.8.8.5.5.5-.5.8-.8.6-.5.7-.5.4-.4a9.6 9.6 0 011.3-1l.4-.4 2.3-1.6.5-.3.4-.3.5-.3.6-.4.3-.2.5-.3 1.9-1 .4-.3.6-.3.5-.2.4-.2.5-.3.5-.2.5-.2 2-.8.5-.2.6-.2.5-.2.4-.1.9-.3.5-.1.3-.1.4-.2.7-.1.9-.3 2.7-.6h.4l.5-.1.6-.1.6-.1h.4l2.7-.3H351.6l2.2.2 1 .1.6.1.5.1.5.1h.4l2.7.7 1.1.2.4.1.4.2 1 .2.4.2 2 .6.4.2.6.2 1 .4 1 .5.4.1.5.3.5.2.5.3.6.3.5.2 1.1.7.5.2 1.6 1 .4.3.5.3.4.3.4.2 1.9 1.4.4.4 1 .6c0 .2.2.3.3.4l.5.4.5.5.6.5.3.3.6.5.2.3.3.2.6.6a31.7 31.7 0 012 2.2l.8 1c.9 1 1.7 2.2 2.5 3.4l.3.5.4.5.3.4.4.8.5.7.2.5.2.3.2.4.3.5.3.5 1.7 3.8.2.6.6 1.6.2.5.2.6.2.6.1.4.2.6.2.7c0 .4.2.7.3 1.1l.1.6.2.9v.3l.2.5v.7l.1.3v.3l.2.6v.6l.2.7v1l.1.7v.3l.1.7V47.7l.1 1.5z"
            fill="#000" />
        <path
            d="M411.7 171.1v2.9l-.1.1v.5l-.1.2v.2l-.1.3-.2.6-.1.2v.1c-.5 1.3-1.2 2.5-2 3.6l-.2.2-1.2 1.5-21 21-21-21a14.9 14.9 0 01-4.3-11.8l.1-.8.3-1.4v-.3l.1-.1v-.3l.2-.5v-.2l.4-1 .1-.1.2-.3s0-.3.2-.4v-.3l.2-.2.2-.3v-.1l.2-.2v-.2l.3-.4.1-.2.2-.1.1-.2.2-.2.1-.2.2-.2.1-.2.2-.2.2-.2.4-.4.1-.1.3-.3.1-.1.2-.2.2-.1v-.1l.4-.2.1-.1.7-.5.1-.1.2-.1v-.1l.3-.1.2-.2.6-.3h.1v-.2h.2l.1-.2h.2l.1-.1h.2l.6-.3h.1l.2-.1h.1l.2-.1.2-.1H371.8l.1-.1h.2l.3-.2.8-.1h.7l1-.1H378.7l.9.3h.4l.2.1h.2l.2.1.6.2h.1l.2.1.3.2.3.1h.1l.2.1.1.1h.2l.2.2h.1l.4.2.1.1.5.3.1.1.2.1h.1l.1.2a12.6 12.6 0 011 .7l.1.1.1.1.2.2.2.2.3.2.1.2.2-.2.2-.2.2-.2.2-.2h.1l.2-.2.2-.2.2-.1.6-.5.2-.1.1-.1h.2l.2-.2.2-.2.6-.3.3-.1.1-.1h.2l.1-.1.2-.1h.1l.6-.3h.2l.2-.1h.1l.1-.1.3-.1h.1l.2-.1.3-.1h.3l.8-.2h.8l.8-.1H399.6l.8.3H401l.3.2h.1l.6.2h.2l.2.1.2.1.4.2.2.1h.2l.1.2h.2l.2.1.3.2.2.1.5.3.2.2h.2v.1l.7.5.4.3v.1l.2.1.2.2.2.1v.1l.2.2h.1v.1l.2.2.3.3.1.1.3.3.2.3.8 1v.2l.2.1v.2l.2.2.1.2.1.1v.2h.1l.1.2.1.2a12.7 12.7 0 01.8 1.8v.1l.1.3v.1l.1.2v.1l.1.2.1.4v.2l.1.2V170.6c.3.2.3.4.3.5z"
            fill="#F2E419" />
        <path opacity=".1"
            d="M411.7 171.1v2.9l-.1.1v.5l-.1.2v.2l-.1.3-.2.6-.1.2v.1a14.9 14.9 0 00-25-14 14.7 14.7 0 00-12.6-4.2c-3.1.5-6 2-8.3 4.3-.7.6-1.4 1.2-2 2a15.4 15.4 0 00-1.4 2.5l-.3.7.1-.3v-.1V166.8l.2-.5.1-.2.4-1v-.2l.2-.2.2-.5.1-.2.1-.2.2-.3v-.2h.1l.1-.2.1-.2.3-.4v-.1l.2-.2.1-.1.2-.3.1-.1.2-.2.1-.2.1-.1.1-.1.2-.2.4-.4.1-.2.3-.2.2-.2.2-.1.1-.2h.1l.3-.3h.1l.7-.6h.1l.2-.2h.1l.2-.2h.1l.2-.1.5-.3.2-.1.2-.1h.2l.1-.2h.2l.1-.1h.2l.6-.3h.1l.2-.1h.1l.2-.1.2-.1H371.8l.1-.1h.2l.3-.2.8-.1h.7l1-.1H378.7l.9.3h.4l.2.1h.2l.2.1.6.2h.1l.2.1.3.2.3.1h.1l.2.1.1.1h.2l.2.2h.1l.4.2.1.1.5.3.1.1.2.1h.1l.1.2a12.6 12.6 0 011 .7l.1.1.1.1.2.2.2.2.3.2.1.2.2-.2.2-.2.2-.2.2-.2h.1l.2-.2.2-.2.2-.1.6-.5.2-.1.1-.1h.2l.2-.2.2-.2.6-.3.3-.1.1-.1h.2l.1-.1.2-.1h.1l.6-.3h.2l.2-.1h.1l.1-.1.3-.1h.1l.2-.1.3-.1h.3l.8-.2h.8l.8-.1H399.6l.8.3H401l.3.2h.1l.6.2h.2l.2.1.2.1.4.2.2.1h.2l.1.2h.2l.2.1.3.2.2.1.5.3.2.2h.2v.1l.7.5.4.3v.1l.2.1.2.2.2.1v.1l.2.2h.1v.1l.2.2.3.3.1.1.3.3.2.3.8 1v.2l.2.1v.2l.2.2.1.2.1.1v.2h.1l.1.2.1.2a12.7 12.7 0 01.8 1.8v.1l.1.3v.1l.1.2v.1l.1.2.1.4v.2l.1.2V170.6c.3.2.3.4.3.5z"
            fill="#000" />
        <path
            d="M262.8 224.2V226.7l-.1.2v.2l-.2.4v.2c-.4 1-.9 1.8-1.5 2.6v.1l-1 1-14.8 14.9-14.8-14.9a10.5 10.5 0 01-3-8.3v-.5l.2-1v-.2-.1l.1-.2.1-.4v-.1l.3-.7v-.1l.2-.2.1-.3.1-.2v-.1l.2-.2v-.1l.1-.2.1-.1.2-.3v-.1l.1-.1.1-.1.2-.2v-.1l.2-.2.1-.1.1-.1.1-.2.3-.3h.1l.2-.2.1-.1.1-.2h.1l.1-.1.2-.2h.1l.5-.4h.1l.1-.1h.1l.1-.2h.2c.1-.2.3-.2.4-.3h.1l.1-.1h.1l.1-.1h.1l.1-.1h.2l.4-.2h.1l.1-.1h.2l.2-.1h.4l.2-.1.6-.1h.5l.6-.1H239.6l.6.2H240.8l.5.2h.1l.2.1.1.1.3.1h.2v.1h.2l.1.2h.1l.3.1v.1l.4.2h.1l.1.1.1.1.5.4.3.2.2.1.1.2h.1l.2.2.1.2.1-.2.2-.1.1-.1.2-.2.1-.1.2-.2h.1l.5-.4h.1l.1-.1h.1l.1-.2h.2l.4-.3h.1l.1-.1h.1l.1-.1h.2v-.1h.2l.4-.2h.1l.1-.1h.2l.2-.1h.4l.2-.1.6-.1h4.4l.2.1h.5l.4.2h.1l.2.1.2.1.2.1.2.1.2.1h.1l.1.1.3.2.4.2h.1l.1.2h.1l.5.4c.2 0 .2.1.3.2l.2.2.2.2.2.1v.1h.1l.1.2.2.2.2.2.2.3.6.7v.1l.1.1v.1l.2.2v.1l.1.1v.1h.1v.2l.1.1.4.8v.1a5.8 5.8 0 01.3.6v.5l.1.3V223.9l.2.3z"
            fill="#F2E419" />
        <path opacity=".1"
            d="M262.8 224.2V226.7l-.1.2v.2l-.2.4v.2a10.5 10.5 0 00-.2-5.1 10.5 10.5 0 00-5-6.5 10.5 10.5 0 00-12.4 1.8 10.7 10.7 0 00-2.4-1.8 10.5 10.5 0 00-14.8 5.4v-.5l.2-.3v-.2l.3-.7.1-.3.2-.3v-.1l.2-.2v-.2h.1v-.2l.2-.2.2-.2v-.1l.1-.2h.1l.1-.2.1-.2h.1l.1-.2.2-.2.4-.4v-.1l.3-.2.2-.2h.1l.1-.2.2-.1.6-.4v-.1h.2v-.1l.2-.1.2-.1.4-.2.2-.2h.2l.1-.1h.1l.1-.1.5-.2h.2v-.1H235l.2-.1h.2l.6-.2H239.6l.7.1h.4l.2.1.5.2h.2l.2.2h.2l.1.1h.1l.2.1.2.1.3.2h.1l.4.3.2.1.1.1.5.3v.1l.2.2h.1l.1.1.2.1v.1l.3.2v.1l.2-.1.2-.2.2-.2h.1l.1-.1.2-.2.6-.4v-.1h.2v-.1l.2-.1.2-.1.4-.2.2-.2h.2l.1-.1h.1l.1-.1.5-.2h.4l.2-.2H250.2l.6-.2H254.4l.7.1.2.1h.4l.5.2h.2l.2.2h.2l.1.1h.1l.2.1.2.1h.1l.2.2h.1l.4.3.2.1.1.1.5.3v.1l.2.2h.1l.1.1.2.1v.1h.1l.2.2v.1l.2.1.2.2v.1l.2.2.2.2.5.8h.1v.2h.1l.1.2.1.2.1.2.1.2h.1l.4.9v.1a5.5 5.5 0 01.2.6v.2l.1.1v.2l.1.2v2.3l.1.4z"
            fill="#000" />
        <path d="M280.3 313c0-.5 0-.9-.2-1.3 0 1 .1 1.4.2 1.2z" fill="url(#paint0_linear)" />
        <path
            d="M360.9 276.4s2.5-1.7 0-2.8c-2.4-1-4-4.1-4-5.2 0-1-2-12.5 4.6-10 6.6 2.4 9.7 5 9.7 7.2L370 281l-9.1-4.6z"
            fill="#FBBEBE" />
        <path
            d="M377 285.5l-.1.8c-.2 1.3-.7 4.1-1.4 4.5-1 .6-2.2-.8-4-1.3-.3 0-.6.2-.8.8-.2.2-.2.4-.3.7-1 3-1.6 10-2 12.7a89.5 89.5 0 01-9 17.4 410 410 0 01-1.3 2.2l-7.3-13.8V289c.5-.9 1-1.9 1.3-2.8a5 5 0 00.4-2.3c0-.3-.2-.5-.4-.7v-.2l-.2-.2v-.5-.4c0-3 2-9 2-9s2.4 1.3 7.9 2c5.4.6 15.2 10.6 15.2 10.6z"
            fill="#0970C8" />
        <path opacity=".1"
            d="M376.9 286.3c-.2 1.3-.7 4.1-1.4 4.5-1 .6-2.2-.8-4-1.3-.3 0-.6.2-.8.8-.2.2-.2.4-.3.7-3.7-1.8-10.1-5-10.5-6-.4-.9-4.9-1-7.4-1.1h-.5c-.1-.5-.2-1-.1-1.6.2-3 2-8.5 2-8.5s2.4 1.3 7.9 2c5.1.5 14 9.5 15 10.5z"
            fill="#000" />
        <path
            d="M377 285.5s-.6 4.8-1.5 5.3c-1 .5-2.2-.8-4-1.3-.3 0-.6.2-.8.8a55.6 55.6 0 01-10.8-6.1c-.4-1-5.4-1.2-7.8-1.2-1-1.8 1.8-10 1.8-10s2.5 1.2 8 1.8c5.4.7 15 10.7 15 10.7zM358.8 352.2c-1.5 1.5-11.2-5.8-13.9-6.2-2.7-.4-12.3-41-12.3-41l1.4-23-5.7-21-.7-2.8s.5-1.7 2.8 0c2.3 1.6 7.9 8.8 9.4 9.3 1.5.6 3.3 1.7 5.5 4.2 2.3 2.6 3.3 3 3.3 3s2.6 6.6 2.5 8.2c-.1 1.6.9 12.5 2 13.4a442.1 442.1 0 007.5 26.1c.5 2.6-.3 28.3-1.8 29.8z"
            fill="#0970C8" />
        <path opacity=".1" d="M342.1 301.2l7 1.9s1.4 12.2 2 12.8c.4.7 2.1 25.7 2.1 25.7l-11-5L338 323v-14.9l4.1-7z"
            fill="#000" />
        <path
            d="M289.5 499.3c-.4 1.3-.8 2.6-1 4-1.3 7.3-1.6 18.8-1.6 18.8s1.3 6 1 7c-.5 1.6-.7 3.3-.8 4.9l-.2 1.8-13-.8v-2c0-2.6.4-7.2 1.2-9.7 1-2.5 0-13.2-.7-19.5l-.5-4.5s17.8-5.8 15.6 0zM340.5 502.8l-1.6 15.6s.4 5 0 7.1c-.3 1.3-.5 3.9-.7 5.9l-.2 2.7s-10 7-12.3.9l-.5-2.3c-1-6.4 1.8-15.9 1.8-15.9v-20l13.8 2.2-.3 3.8z"
            fill="#FBBEBE" />
        <path opacity=".1"
            d="M289.5 499.3c-.4 1.3-.8 2.6-1 4-4.5 2-9.5 2.1-14 .5l-.6-4.5s17.8-5.8 15.6 0zM340.8 499l-.3 3.8c-4.9 2.2-10 .8-13.5-.7v-5.4l13.8 2.3z"
            fill="#000" />
        <path
            d="M285.2 323.3s-1.2 8.4-2.4 10.1c-1.3 1.8-.8 4.2-2 4.5-1.4.3-1.8 6.5-1.8 6.5l-1 13.9s-.4 2.8-2 3.5c-1.5.8 0 4.6 0 4.6s-1.6 3.3-.6 5.2c1 1.8-2 10.4-2 10.4s-1.3 16.5 0 18.8c1.2 2.3 1.8 4.7 2 7.3l.7 28s-1.7 11-2.3 13c-.5 2 1.6 6.4.2 8.6-1.4 2.3-1.2 7.4-1.2 7.4s-2.2 20.2-.9 27.6c1.3 7.4-.4 9-.4 9a20 20 0 0020-.9s0-14.5 1.8-17.1c1.7-2.6 1.4-9.8 1.4-9.8s.5-6.5 1.7-7.8c1.3-1.2 1-7 1-7l2.4-6.7c1.3-3 2-11.4 2-11.4.5-1.5 1.2-2.9 2-4.1 1.5-2 0-6.5 0-6.5s-1.5-2.8-.5-5.7c1-2.8 6.6-26 6.6-26l2.1-8.2 3.1 10.6s-.4 7.5 0 9.7c.5 2 3.4 6.7 3.4 6.7v22.4s.3 15.1 1.5 17.5a56.3 56.3 0 011.7 11.5s3.8 26.4 1.4 30.2c0 0 11 7.9 19.7 1.5 0 0-1.9-5.3 0-7.2 1.8-1.8 3.1-25 3.1-25s1.2-9.4 1-11.5c-.1-2.2-1.5-12.3-.7-14.4.9-2.2 2-42.4 2-42.4l1.4-17.8v-14.6c0-8-1-15.8-3.2-23.4-2.4-8.5-5.7-18.3-8.5-18.9 0 0-44.3 5-52.7-2z"
            fill="#000B14" />
        <path opacity=".1" d="M287 534l-.1 1.8-13-.9v-2c6.1-5.3 12.2 1 12.2 1h1z" fill="#000" />
        <path
            d="M287.9 534.4v8s-2.7 5.3-3.6 6.4c-.6.7-.9 3-1 5.1l-.2 3s1.7 6.8-11.7 6.5c-13.4-.2-8-10.2-8-10.2h.1c.7-1.3 6.1-11 6.7-11.6.7-.5 1.2-4.1 1.2-4.1l2.5-4c6.1-5.5 12.2.9 12.2.9h1.8z"
            fill="#000B14" />
        <path opacity=".1"
            d="M283.1 556.9s1.7 6.8-11.7 6.5c-13.4-.3-8-10.2-8-10.2h.1c.4 2 2 4 7 3.8 6.8-.4 11-2.1 12.8-3l-.2 2.9zM338.2 531.4l-.2 2.7s-10 7-12.3.8l-.5-2.3.5-.4c1.7-2.5 10.4-2.5 10.8-1.4.3.7 1 .7 1.7.6z"
            fill="#000" />
        <path
            d="M334 566c-9.3.5-11-5.3-10.7-9.5.1-1.2.3-2.3.7-3.4 1.1-3.1 1-9 1-9l-.4-10.8c.3.2 1.2-.7 1.2-.7 1.6-2.4 10.3-2.5 10.7-1.3.5 1.1 2.5.3 2.5.3s-.5 7.3 2.5 13.2a32.2 32.2 0 013.2 12.5s1.8 7.8-10.6 8.6z"
            fill="#000B14" />
        <path opacity=".1"
            d="M334 566c-9.3.5-11-5.3-10.7-9.5 0 0 2.5 4.2 11.2 3.2 3.5-.4 7-1.5 10.1-3.3v.8s2 8-10.5 8.7zM343.8 335.9c-2-5.5-4-10-6-10.5l-1.7.2c1.8 1 3.8 5.2 5.5 10.3 4 11.3 6 23.2 5.9 35.1v11.3L346 400s-1.2 40.3-2 42.4c-1 2.1.5 12.3.7 14.4.1 2.2-1 11.5-1 11.5s-1.3 23.2-3.2 25c-1.8 2 0 7.2 0 7.2-2 1.5-4.3 2.3-6.7 2.5a13 13 0 008.9-2.5s-1.9-5.3 0-7.1c1.8-1.9 3.1-25.1 3.1-25.1s1.2-9.3 1-11.5c-.1-2.1-1.5-12.3-.7-14.4.9-2.1 2-42.4 2-42.4l1.4-17.8V371c0-12-2-23.8-5.8-35.1zM274.1 501.7s1.7-1.6.4-9c-1.2-7.4.9-27.5.9-27.5s-.3-5.2 1.1-7.4c1.5-2.3-.7-6.8-.1-8.7.5-2 2.3-12.9 2.3-12.9l-.8-28.1c-.1-2.6-.8-5-2-7.3-1.3-2.3 0-18.8 0-18.8s3-8.6 2-10.4c-1-1.9.7-5.2.7-5.2s-1.6-3.8 0-4.5c1.6-.8 1.9-3.6 1.9-3.6l1.1-13.9s.4-6.2 1.7-6.5c1.3-.3.7-2.7 2-4.4 1-1.3 1.9-6.4 2.2-8.8-.8-.4-1.6-.8-2.3-1.4 0 0-1.2 8.4-2.4 10.1-1.3 1.8-.8 4.2-2 4.5-1.4.2-1.8 6.5-1.8 6.5l-1 13.9s-.4 2.8-2 3.5c-1.5.8 0 4.6 0 4.6s-1.6 3.3-.6 5.2c1 1.8-2 10.4-2 10.4s-1.3 16.5 0 18.8c1.2 2.3 1.8 4.7 2 7.3l.7 28s-1.7 11-2.3 13c-.5 2 1.6 6.4.2 8.6-1.4 2.3-1.2 7.4-1.2 7.4s-2.1 20.2-.8 27.6c1.3 7.4-.4 9-.4 9 3.2 1.7 6.9 2.5 10.5 2.2-2.8-.1-5.5-.9-8-2.2z"
            fill="#000" />
        <path
            d="M329 190c1.9 1.7 3 4 4.5 5.8 1.6 1.9 3.7 3.5 6.1 3.4l2.2-.2c.8.1 1.6.5 2.3 1 2.9 2.2 4.3 5.9 5 9.5.6 3.5.6 7.2 1.6 10.8.3 1.2.8 2.4 1.8 3.1 1.3 1 3 .6 4.6.6 2.1 0 4.4.5 5.9 2 1.5 1.4 2.1 4 1 5.7-.4.4-.7.8-.8 1.3a2.4 2.4 0 00.6 1.7l4.4 6c1 1.2 1.8 2.6 1.7 4a3.2 3.2 0 01-5.5 1.9c.4 1.5-1 3-2.6 3.2-1.5.2-3-.5-4.4-1.2l-.1 2.6c-1.3.6-2.7-.7-3.7-1.8-1-1-3.2-1.6-3.7-.2a1.8 1.8 0 00.5 1.6c1.7 2.3 6 1.7 7.2 4.3.8 1.7-.4 3.8-2.2 4.5-1.7.6-3.7 0-5.2-1.1-1.5-1-3-3-5-3-2.4 0-3.8 2.9-6.1 3.8-2.1.8-4.6-.3-6.3-1.9-1.6-1.5-2.8-3.6-4.3-5.3-4-4.4-10-6.1-15.7-8-5.6-1.9-11.5-4.4-14.4-9.6-1-1.6-1.5-3.4-2.6-4.8-1.9-2.5-5-3.7-7.1-6a9.2 9.2 0 01-1.4-9.8c1-2 2.6-3.7 4-5.5 2.4-3.2 3.7-7 3.7-11 0-1.4-.2-3 .3-4.4.7-2 2.8-3.5 5-4 2.2-.6 4.4-.4 6.7-.2 2.4.2 5 .7 7.4.7 1.6-.1 2.8-1.4 4.4-1.8 3.4-1 7.7-.2 10.3 2.4z"
            fill="#3F3D56" />
        <g opacity=".1" fill="#000">
            <path opacity=".1"
                d="M347.9 207.8c.7 3.5.7 7.2 1.6 10.8.2.8.6 1.7 1.1 2.4l-.2-.7c-1-3.5-1-7.2-1.7-10.8-.3-2.2-1-4.3-2.1-6.2.6 1.4 1 3 1.3 4.5zM362.8 230c-.4.4-.7.9-.8 1.4a2.4 2.4 0 00.7 1.7l.1.2v-.2l.8-1.3c1-1.6.7-3.7-.4-5.2a4.2 4.2 0 01-.4 3.4zM356.7 254.2a3.7 3.7 0 01-2.4 3.7c-1.8.6-3.8 0-5.3-1.1-1.5-1-3-3-4.9-3-2.4 0-3.9 2.9-6.2 3.8-2.1.8-4.6-.3-6.2-1.9-1.7-1.5-2.9-3.6-4.4-5.3-4-4.4-10-6.1-15.6-8-5.7-1.9-11.6-4.4-14.5-9.6l.9 1.7c2.9 5.2 8.8 7.7 14.4 9.6 5.6 1.9 11.7 3.6 15.6 8 1.6 1.7 2.7 3.8 4.4 5.4 1.7 1.5 4.1 2.6 6.3 1.8 2.3-1 3.7-3.7 6.2-3.7 2 0 3.3 1.7 4.9 3 1.6 1 3.5 1.6 5.2 1 1.8-.7 3-2.8 2.2-4.5l-.6-.9zM368.6 241.7l.2 1.4a3.2 3.2 0 01-5.6 1.8c.5 1.5-1 3-2.5 3.2-1.6.2-3-.5-4.5-1.2l-.1 2.6c-1.3.6-2.7-.7-3.7-1.8-1-1-3.1-1.6-3.6-.2a1.8 1.8 0 00.4 1.6l.4.4v-.3c.5-1.4 2.6-.8 3.7.3 1 1 2.4 2.4 3.7 1.7v-2.6c1.5.7 3 1.4 4.5 1.2 1.6-.2 3-1.7 2.5-3.2a3.2 3.2 0 005.6-1.8 5 5 0 00-1-3.1zM294.6 228c-1.8-2.5-5-3.6-7.1-6l-.8-1c.4 1 1 2 1.7 2.7 2 2.4 5.2 3.5 7.1 6l.7 1.1c-.4-1-1-2-1.6-2.8z" />
        </g>
        <path
            d="M307.4 226.6s1.5 17.4-5.6 22.6C294.7 254.5 317 269 317 269l17-3.7s-8.3-7.7-8.3-11c0-3.2 1.5-21.7 3.7-23.8 2.3-2.1-22-3.8-22-3.8z"
            fill="#FBBEBE" />
        <path
            d="M302.4 226.6l-3.9 8.4-6.2 3.8-5 5.6-11.3 7.2-.7-1.2c-.8-1.5-1.7-2.9-2.6-4.2-1-1 0-12.4 0-12.4s2.2-2.6 1.4-7.2c-.8-4.6-1-22.7-1-22.7s-.8-15.2.4-18.4c1.2-3.2-2.7-13.4-2.7-13.4s-10.9-10.8-10.1-13c.7-2.3 9 0 9 0s3.4 1.6 5 1.7l10.9.1h5s3.5 12.3 3.1 13.6l-.2.8c-.4 1-.6 1.8-.2 2.4.5.8 1.7 9.9 1.7 9.9l1.2 9.8s1.8 7.7 1.7 8.8c-.1 1-2.8 3.3-1.6 5.4 1.1 2 1.6 8.2 1.6 8.2s2 4.6 3.9 6.3l.6.5z"
            fill="#0970C8" />
        <path opacity=".1" d="M320.4 238.1a20.5 20.5 0 100-41 20.5 20.5 0 000 41z" fill="#000" />
        <path d="M320.4 237.3a20.5 20.5 0 100-41.1 20.5 20.5 0 000 41z" fill="#FBBEBE" />
        <path
            d="M342.1 301.2c-1.8 2-2.2 21.5-1.2 23.3 1.1 1.7-5.5 5-9.3 5a72.3 72.3 0 00-14.4 3s-21.1-5.6-25.5-2.8c-4.5 2.9-10.7-5.1-8.9-8 1.9-2.8-2-6.8-2.5-8.4-.2-.6-.2-1.3-.3-2-.5-7.2-1-30.2-1-30.2v-26.4l19.4-13.7a93 93 0 019 5.2c2 1.3 4 2.8 5.8 4.5 5.3 5 18.4 10.2 18.4 10.2s14.4 17.3 16.2 19c1.9 1.7-3.8 19.3-5.7 21.3z"
            fill="#fff" />
        <path opacity=".1"
            d="M279 281v-22.7s.6 41.4 1 53c-.5-7.2-1-30.2-1-30.2zM280.1 313c.2.4.2.8.2 1.2l-.2-1.2zM307.5 253.5a17.4 17.4 0 00-3.1 4.4c-1 2.4-25.4.4-25.4.4v-3.6l19.4-13.7a93 93 0 019 5.2l.1 7.3zM280.1 311.3c.2.3.2.8.2 1.2l-.2-1.2zM302.4 226.6l-3.9 8.4-6.2 3.8-5 5.6-11.3 7.2-.7-1.2c3-3.8 6.2-7.7 8-9.1 3.7-2.8 0-3.2 0-3.7.2-.5 8-3.4 10.2-5.4 1.7-1.7 6.6-5 8.3-6.1l.6.5z"
            fill="#000" />
        <path
            d="M302.4 226.6s-6.8 4.3-8.9 6.4c-2.1 2-10 4.9-10.2 5.4 0 .6 3.7.9 0 3.7-3.6 2.8-12.5 15.8-15.7 16.8-3.2 1-25 10-25 10s-7.3 6.8-8.3 6.8c-1 0 6.5 7.3 6.5 7.3s6.8 5.5 7.6 6.3c.7.9 19.5 11 19.5 11s3.2 1 3.5 2c.3.9 4.6 3.6 4.6 3.6s4.8 5.5 4.3 7.4c-.5 2-1.3-55.8-1.3-55.8s24.4 1.9 25.4-.5c.8-1.6 1.9-3 3.1-4.3 0 0 0-19.8-1.4-21.3s-3.7-3-3.7-4.8z"
            fill="#0970C8" />
        <path opacity=".1"
            d="M245.8 273.5s6.4 7 9.4 8.2c2 .8 3.4 2.4 4.2 4.3 0 0 3.5 2 5.4 2.3 2 .4 4.9 3.2 4.9 3.2s7.1 2 7.1 3.6c0 1.5 3 3.5 3 3.5l-.8-41.1s-12 1.5-15.3 6.5c-3.4 5-17.9 9.5-17.9 9.5z"
            fill="#000" />
        <path opacity=".1"
            d="M259.8 277.4c.5-.3 15.1-19.1 15.1-19.1l2.7-.6s-7 10.4-6.8 11.3c.1.8-11 8.4-11 8.4zM266 283.6s3.8-8.9 4.8-10.4c1.1-1.5 6.9-11.5 6.9-11.5v2.5c-.3 1-11.8 19.4-11.8 19.4zM291.7 217.3s-8.6 15.7-7.8 16.4c.7.8 7.8-16.3 7.8-16.3zM294.7 223.6s-7 10.3-6.4 10.2c.6-.2 6.4-10.2 6.4-10.2z"
            fill="#000" />
        <path
            d="M288.3 164.6l-13.5 1v-1.2c-.3-4.5-1-20-1.3-21.8a83 83 0 01-.9-5.6s-7.2-1.1-7.1-2.3c0-1.2-9.3-13.7-2.2-13.4 5.6.1 15.2 6.8 19.1 9.7a3.6 3.6 0 011.5 3.3c-.2.8-.2 1.7-.2 2.5.1 1.8 0 3.6-.1 5.3-.2 1.6 0 3.3.6 4.5a84.6 84.6 0 014 18z"
            fill="#FBBEBE" />
        <path opacity=".1"
            d="M293.7 175l-.2.7c-3-2.9-21.3-4.7-21.3-4.7-1.6-2-.1-2.7 1.6-5 1-1.4 7-3.3 11.8-4.6h5s3.5 12.3 3.1 13.6z"
            fill="#000" />
        <path opacity=".1" d="M288.3 164.6l-13.5 1v-1.2c2-1.3 6.8-2.8 10.8-3.9h2l.7 4z" fill="#000" />
        <path
            d="M293.7 174.5l-.2.8c-3-3-21.3-4.8-21.3-4.8-1.6-1.8-.1-2.7 1.6-5 1-1.3 7-3.2 11.8-4.6h5s3.5 12.4 3.1 13.6z"
            fill="#0970C8" />
        <path opacity=".1"
            d="M305.4 280.5s-1.5 28.8 0 30.2c1.5 1.4 0-30.2 0-30.2zM316 292.6s-.6 31.7 0 32c.5.3 0-32 0-32zM328.3 296.3s2 21.9 3.9 22.7c1.8.9-3.9-22.7-3.9-22.7zM360 322.4c-.5-.1-1.1-.4-1.6-.7-1.8-1.2-3.9-13.8-6.5-15.5a128 128 0 01-12.3-18.6s-3.8-6.7-5.3-8.4c-1.5-1.7-.7-9.4-.7-9.4s-4-4.6-5.7-8.5c-.4-.8-.7-1.8-.7-2.7 0 0 .5-1.7 2.8 0s7.9 8.8 9.4 9.4c1.4.5 3.3 1.6 5.5 4.1 2.3 2.6 3.3 3 3.3 3s2.6 6.6 2.5 8.2c-.1 1.6.8 12.5 2 13.5s3.1 9.7 3.1 9.7 3.5 12.3 4.3 15.9zM351.9 282.3v-.4.4z"
            fill="#000" />
        <path opacity=".1"
            d="M360.7 319l-1.2 2.1c-1.8-1.8-3.8-13.7-6.4-15.4a12 12 0 01-2.3-2.6V289c.5-1 1-1.9 1.3-2.9.4 3.8 1 9.5 2 10.2 1 1 3 9.7 3 9.7l3.6 13z"
            fill="#000" />
        <path
            d="M360.5 322l-1.7-.7c-1.8-1.2-3.8-13.8-6.5-15.6-2.7-1.7-12.3-18.5-12.3-18.5s-3.7-6.7-5.2-8.4c-1.5-1.8-.8-9.4-.8-9.4s-4-4.6-5.7-8.5c-.4-.9-.6-1.8-.7-2.8 0 0 .6-1.6 2.8 0 2.3 1.7 7.9 8.9 9.4 9.4 1.5.6 3.3 1.6 5.5 4.2 2.3 2.6 3.3 3 3.3 3s2.6 6.5 2.5 8.1c-.1 1.6.9 12.6 2 13.5a438.4 438.4 0 007.4 25.6z"
            fill="#0970C8" />
        <path d="M338.7 282a1.4 1.4 0 100-3 1.4 1.4 0 000 3zM348.2 295a1.4 1.4 0 100-3 1.4 1.4 0 000 3z"
            fill="#3F3D56" />
        <path opacity=".1"
            d="M359.2 289.7s-7-3.2-5.9-1.5c1.1 1.7 6 1.5 6 1.5zM359.2 294.3s-7-2-5.5-.8c1.5 1.1 5.5.8 5.5.8zM358 299.4s-4.7-3.5-3.6-2.2c1.2 1.3 3.7 2.2 3.7 2.2zM363 303s-4.8 9.7-2.5 10.4c2.4.6 2.6-10.3 2.6-10.3zM293.2 461.6s-11.2 10.7-8 10.6c3.3-.2 8-10.6 8-10.6zM277.4 476.4c.6 0 12-1.1 9-1.7-3-.5-9 1.7-9 1.7zM332.9 459.9s12 .4 11.8 1.7c-.3 1.3-11.8-1.7-11.8-1.7zM330.9 464.7s7 5.3 8.5 3.6c1.6-1.7-8.5-3.6-8.5-3.6z"
            fill="#000" />
        <path
            d="M297.4 389.1c0 .4-.2.7-.4 1l-.3.4c-1.5 1-5.2 2.9-5.7 2.7l-2.4-.7c-1.4-.4-2.8-.8-3.3-.8-.6-.1-1-1-1-1.8 0-.9 0-1.5.4-1.7l.3-.4.2-.6v-.2l.5-2.6.1-1v-.4l1-.1h.8c2.4-.1 6.6-.2 8.2 0 .7.2 1.2.9 1.5 1.8.2.6.3 1.3.3 2 0 .8 0 1.6-.2 2.4zM346.2 394v3c0 .5-14.9 4.5-18.6 4.2-2.4-.2-.6-1.8.7-3.5.5-.6.9-1.2 1.1-1.9v-.7l-.2-.7c-.3-1.6-.1-2 .2-2.4l.5-1 .2-1c.1-.6 0-1.4-.5-2-1.2-1.5 4.2-2.3 4.2-2.3h10.3c1 0 1.6 1.4 1.9 3.3a21.3 21.3 0 01.2 3.4v1.7zM301.2 437.2s-11.4 2.7-10.2 2c.4-.3.5-1.2.5-2.2l-.2-1.6-.3-2.2s6-1.3 8-.7a2.5 2.5 0 011.7 1.7v.3c.4.8.5 1.8.5 2.7z"
            fill="#FBBEBE" />
        <path opacity=".1"
            d="M309.9 211c1.6-.5 3-1.4 4.4-2.1 1.5-.7 3.3-1.1 4.8-.5a84.9 84.9 0 016 5.1c1.3 1.4 2.7 2.6 4.2 3.7 3.5 2.2 8 1.7 12 1 1 0 1.7-.3 2.5-.6 1.8-1 2.4-3.4 2-5.4a12 12 0 00-3-5.2 43 43 0 00-14-10.4c-5.7-2.6-12.5-4-18.1-1.3-1.7.8-3.3 2-4.7 3.2-2 1.8-7 6.2-6 9.2 1.3 3.4 7 4.3 9.9 3.3z"
            fill="#000" />
        <path
            d="M309.9 210.6c1.6-.5 3-1.5 4.4-2.2 1.5-.7 3.3-1 4.8-.4a83.8 83.8 0 016 5.1 23 23 0 004.2 3.7c3.5 2.1 8 1.6 12 1 1 0 1.7-.3 2.5-.7 1.8-1 2.4-3.3 2-5.3a12 12 0 00-3-5.3c-4-4.3-8.7-7.9-14-10.3-5.7-2.6-12.5-4-18.1-1.3-1.7.8-3.3 1.9-4.7 3.2-2 1.7-7 6.2-6 9.2 1.3 3.4 7 4.3 9.9 3.3z"
            fill="#3F3D56" />
        <path opacity=".1"
            d="M343.8 216.2c-.8.4-1.6.6-2.4.7-4 .7-8.6 1.1-12-1-1.6-1-3-2.3-4.2-3.7l-4-3.7a7.8 7.8 0 00-2-1.5c-1.6-.6-3.4-.2-4.9.5-1.5.7-2.8 1.7-4.4 2.2-3 1-8.6 0-9.8-3.3l-.2-.5c0 .4 0 .9.2 1.3 1.2 3.4 6.9 4.3 9.8 3.3 1.6-.5 3-1.5 4.4-2.1 1.5-.7 3.3-1.1 4.8-.5.8.4 1.5.9 2.1 1.5 1.4 1.1 2.7 2.3 4 3.6 1.2 1.4 2.6 2.6 4 3.7 3.6 2.2 8 1.7 12.2 1 .8 0 1.6-.3 2.4-.7 1.5-.8 2.3-2.8 2.1-4.6a4.5 4.5 0 01-2.1 3.8zM285.9 383.4zM296.7 390.5c-1.5 1-5.2 2.9-5.7 2.7-.6-.1-4.7-1.4-5.7-1.5-1-.2-1.3-3.2-.6-3.5l.3-.4-.3.6c-.8 1.7.7 3.1.7 3.1l6 1.6 5.5-3.1c1.4-1.8-.2-6.1-1-6.8-.7-.7-9.8 0-9.8 0l-.2-.2.9-.1h.9c2.4-.1 6.6-.2 8.1 0 2.3.5 2.3 6.6.9 7.6zM344.2 385.7h-10.3s-5.5.8-4.3 2.3c1.1 1.5.2 3.5-.2 4-.4.4-.6 1 0 3.1s-5.5 5.8-1.8 6.1c3.7.3 18.5-3.7 18.5-4.2 0-.6.8-11.3-2-11.3zm1.4 11c0 .6-14 4.4-17.5 4-3.5-.2 2.3-3.7 1.7-5.7-.5-2-.4-2.5 0-3 .4-.4 1.2-2.2.2-3.7-1.1-1.4 4-2.2 4-2.2h9.7c2.6 0 1.9 10.1 1.9 10.7zM299 432.5c-2-.6-8 .7-8 .7s1.1 5.3 0 6c-1.2.7 10.2-2 10.2-2s0-4.1-2.1-4.7zm-7.9 6.6c1.1-.7 0-5.8 0-5.8s5.8-1.3 7.9-.7c2 .6 2 4.6 2 4.6s-11 2.6-9.9 1.9z"
            fill="#000" />
        <path opacity=".1" d="M346.2 392.3l-17 2 17-3.6v1.6z" fill="#000" />
        <path d="M329 394l17.7-3.8.4 1.6-18 2.2z" fill="#3F3D56" />
        <path opacity=".1" d="M346.2 394v.2l-17.9 3.5c.5-.6.9-1.2 1.1-1.9l16.8-1.7z" fill="#000" />
        <path d="M326.4 395.7l21.5-2.2-21 4-.5-1.8z" fill="#3F3D56" />
        <path opacity=".1" d="M346 389l-15.9 1c0 .4 0 .7-.2 1l16-2z" fill="#000" />
        <path d="M329 389.7l18.1-1.3-18.3 2.3.3-1z" fill="#3F3D56" />
        <path opacity=".1" d="M297.6 386.6l-12.4.4.5-2.6 11.6.3c.2.6.3 1.2.3 1.9z" fill="#000" />
        <path d="M284.3 384l17 .3-2.1 1.8-15 .5V384z" fill="#3F3D56" />
        <path opacity=".1" d="M297.4 389.1c0 .4-.2.7-.4 1l-8.4 2.4a36 36 0 00-3.3-.9c-.6 0-1-.9-1-1.7l13.1-.8z"
            fill="#000" />
        <path d="M282 389.6l19.8-1.2-18.1 5-1.6-3.8z" fill="#3F3D56" />
        <path opacity=".1" d="M300.8 434.4l-9.3 2.5-.2-1.5a906.6 906.6 0 019.5-1z" fill="#000" />
        <path d="M289.2 435.3c.3-.2 13.3-1.7 13.3-1.7l-13.3 3.5v-1.8z" fill="#3F3D56" />
        <defs>
            <linearGradient id="paint0_linear" x1="376.4" y1="927.6" x2="376.4" y2="925.2"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="gray" stop-opacity=".3" />
                <stop offset=".5" stop-color="gray" stop-opacity=".1" />
                <stop offset="1" stop-color="gray" stop-opacity=".1" />
            </linearGradient>
        </defs>
    </svg>

    <%}%>    
    <%if(user.isApproved && !user.isSubscriptionExpired){%>

    <div id="homeScreen__subjectsContainer">
        <h2>Available Subjects</h2>
    </div>


    <%if(savedNotes.length){%>
    <div id="homeScreen__savedNotes">
        <h2>Saved Notes</h2>
        <%=savedNotes.map((note)=> {
                return `
                <input type="hidden" value="${note}" class="savedNoteId">
            `}).join("")%>
    </div>
    <%}}%>
</main>