<%-include("includes/header")%>


<main id="readyToGoScreen">
    <h1>You are now successfully authenticated via "placeholder"</h1>
    <p>Click the "continue" button below to proceed.</p>
    <form action="/login" method="post">
        <input type="hidden" name="cameFromReadyToGo" value="true">
        <button type="submit" class="btn">Continue</button>
    </form>
</main>

<%-include("includes/footer")%>