<%-include("../../../sharedMarkups/header")%>

<!--contents-->

    <section class="subTopicWrap">
        <h3 class="subTopic">What is Management?</h3>
        <p>The term management can be broken down into MANAGE, MEN & T(Tactful). This basically means to manage men(or women) tactfully.</p>
        <p class="ml20 mt20 mb20 emphasis"><em>A Good Management is the art of making problems so interesting and their
                solutions so constructive that everyone wants to work and deal with them.</em></p><br />
        <h3>The definition of management with relation to an organization can be,</h3>
        <p>Management is a <span class="highlight">set of activities</span> directed at an <span
                class="highlight">organization's resources</span>, with the aim of <span class="highlight">achieving
                organizational goals</span> effectively and efficiently <span class="highlight">in a changing
                environment.</span></p>

    </section>


    <section class="subTopicWrap">
        <h3 class="subTopic">Essence of Management</h3>
        <p class="ml20 mt20 mb20">The major essence or characteristics or features of management are:</p>
        <ul class="emphasis ml10 mt20 mb20">
            <li class="showListStyle">
                <span class="emphasis underline">Goal Oriented</span>
                <p class="ml20 mt20 mb20">Management is goal oriented function. Every organization comes into existence
                    in
                    order to
                    achieve certain goal. The goal may be profit making or service providing. It directs or mobilizes
                    the
                    resources of organization systematically and maximizes the efficiency and economy of human efforts.
                </p>
            </li>
            <li class="showListStyle">
                <span class="emphasis underline">Group Activity</span>
                <p class="ml20 mt20 mb20">Management cannot be done in isolation. It is based on the group of human
                    resources
                    of
                    organization. When there is an organized group of people working together to achieve certain goal,
                    management is required to manage them and their effort.</p>
            </li>
            <li class="showListStyle">
                <span class="emphasis underline">Universal</span>
                <p class="ml20 mt20 mb20">Management is a universal activity. It is applied in every kind(profit making and service providing) and every level(Top level, middle level, lower level) of organizations in the world. The techniques and principles of management are practiced in both profit making and service providing organizations.</p>
            </li>
            <li class="showListStyle">
                <span class="emphasis underline">Dynamic in Nature</span>
                <p class="ml20 mt20 mb20">Management is dynamic function. It is performed continuously. It is operated
                    in
                    changing environment. It adopts environmental changes and helps the organization to make adjustment
                    according to the needs, time and situation by modifying its objectives, policies and strategies.</p>
            </li>
            <li class="showListStyle">
                <span class="emphasis underline">Science and Art</span>
                <p class="ml20 mt20 mb20">Management is regarded as Science because it has developed certain principles
                    and
                    assumptions through experiments and observations which are universally applicable. In the same way,
                    Management is regarded as Art because it cannot be practiced by all. It is an art of applying
                    theoretical
                    knowledge in practice.</p>
            </li>
            <li class="showListStyle">
                <span class="emphasis underline">Human Focused</span>
                <p class="ml20 mt20 mb20">Management focuses on human beings. Human resource is the most important
                    resource
                    of
                    an organization. Human beings have feelings and they cannot be treated as other resources of an
                    organization. Therefore, management is done focusing the changing preferences of human resources.
                </p>
            </li>
            <li class="showListStyle">
                <span class="emphasis underline">Multi-Disciplinary Subject</span>
                <p class="ml20 mt20 mb20">Management is a multi-disciplinary subject. It is not a single subject but a
                    combination
                    of different subjects. It draws the knowledge from several subjects such as economics, mathematics,
                    psychology, statistics etc.</p>
            </li>
            <li class="showListStyle">
                <span class="emphasis underline">Management is Intangible</span>
                <p class="ml20 mt20 mb20">Management is done following principles. It has no physical existence. It
                    cannot
                    be
                    seen or touched but the effect and result of management can be felt. So, it is intangible.</p>
            </li>
            <li class="showListStyle">
                <span class="emphasis underline">Management is a Process</span>
                <p class="ml20 mt20 mb20">Management is a process of getting things done through others with the optimum
                    use
                    of
                    physical,
                    human and financial resources. The functions of management (Planning, Organizing Direction,
                    Controlling)
                    always comes in a sequence.</p>
            </li>
            <li class="showListStyle">
                <span class="emphasis underline">Management is a Profession</span>
                <p class="ml20 mt20 mb20">Management is regarded as profession. This subject is taught and learnt in
                    different
                    colleges
                    and universities. It is treated as profession because management helps person to earn his/ her
                    living.
                </p>
            </li>
        </ul>
    </section>


    <section class="subTopicWrap">
        <h3 class="subTopic">Levels of Management and Types of Managers</h3>
        <h3>Levels of Management</h3>
        <img src="/images/levels of management.jpg" alt="alt: levels of management">
        <h3>Types of Managers</h3><br />
        <table>
            <th>On the Basis of Hierarchy</th>
            <th>On the Basis of Area of Job</th>

            <tr>
                <td>Top Level Manager</td>
                <td>Generalist Manager</td>
            </tr>
            <tr>
                <td>Middle Level Manager</td>
                <td>Functional Manager</td>
            </tr>
            <tr>
                <td>Lower Level Manager</td>
                <td>Staff Manager</td>
            </tr>
        </table>

    </section>


    <section class="subTopicWrap">
        <h3 class="subTopic">Managerial Roles and Skills</h3>
        <h3>Managerial Roles:</h3>
        <p class="ml20 mt20 mb20">According to <cite>Henry Mintzberg</cite>, the roles af a manager are:</p><br>
        <ol>
            <li><span class="underline emphasis">Interpersonal Role</span>
                <p class="ml20 mt20 mb20">A manager is a parent of an organization. He/she has to deal with every
                    employee working in the organization. Under interpersonal a manager should play the
                    following roles:</p>
                <p class="ml20 mt20 mb20"><span class="highlight">Leader,</span> Manager has to lead all his followers
                    and
                    guide them. <br>
                    <span class="highlight difficult_words">Liaison Role,<span class="meaning">Co-operator</span></span>
                    Manager should act as liaisons when making contacts with people outside of their
                    area of responsibility, both inside their organization and outside in the world at large. <br>
                    <span class="highlight difficult_words">Figurehead Role,<span class="meaning">Use of
                            Power</span></span>
                    A manager should inspire people within the organization to feel connected to
                    each other and to the institution, to support the policies and decisions made on behalf of the
                    organization and to work harder for the good of the institution.</p>
            </li>





            <li><span class="underline emphasis">Informational Role</span>
                <p class="ml20 mt20 mb20">A manager should made available all the required information regarding the
                    organization.</p>
                <p class="ml20 mt20 mb20"><span class="highlight">Monitor,</span> Manager should seek out information
                    for
                    relevant changes and transmit information
                    to the required parties outside the organization.
                    <span class="highlight difficult_words">Disseminator,<span class="meaning">To spread
                            news</span></span>
                    A manager has to share information with supervises who wouldn&#39;t otherwise
                    have access to it.
                    <span class="highlight">Spokesperson,</span> Spokesperson plays an important role in getting
                    information
                    about the
                    organization out to the public and controlling the flow of that information.</p>
            </li>




            <li><span class="underline emphasis">Decisional Role</span>
                <p class="ml20 mt20 mb20">A manager should make right decision at right time. Under decisional role a
                    manager should play the roles of entrepreneurship, disturbance handler, resource allocator,
                    negotiator and so on.</p>
            </li>
        </ol>

        <h3>Managerial Skills</h3>
        <img src="/images/managerial skills.jpg" alt="alt: managerial_skills">
        <ol>
            <li><span class="underline emphasis">Conceptual Skills</span></li>
            <li><span class="underline emphasis">Human Relation Skills</span></li>
            <li><span class="underline emphasis">Technical Skills</span></li>
        </ol>

    </section>




<section class="content_section" id="becoming_a_manager">
    <h1>Becoming a Manager</h1>

    <section class="subTopicWrap">
        <h3 class="subTopic">How to become a Manager?</h3>
        <p>Generally, the efficiency and capability of a manager is judged by the success and failure of his/her
            organization. There are various factors that determines the effectiveness of a manager. However, the
            role of education, experience and situation had large impact in making a manager efficient and effective.
        </p>

        <ul>
            <li><span class="highlight emphasis">Role of Education</span>
                <p class="ml20 mt20 mb20">Management is regarded as emerging profession and this subject is learnt and
                    taught in many colleges and universities. One can graduate in this subject and can earn his/her
                    living. If a manager is educated he/she has theoretical knowledge which he/she can put into
                    practice. On the other hand, if a manager is uneducated he/she may not have proper
                    knowledge regarding management. Therefore, education plays important role in manager’s life.
                    If a manager has proper knowledge regarding management he/she can be more effective and
                    efficient in managing the organization.</p>
            </li>
            <li><span class="highlight emphasis">Role of Experience</span>
                <p class="ml20 mt20 mb20">Another factor affecting the efficiency and effectiveness of a manager is
                    experience. Experienced manager can handle managerial problems more tactfully and smoothly
                    as compared to unexperienced manager. An experienced manager can make right decision at
                    right time. He/she deals positively with the employees. On the other hand, manager lacking
                    experience may be unable to solve managerial problems and becomes ineffective. Therefore,
                    experience plays vital role to make manager efficient and effective.</p>
            </li>
            <li><span class="highlight emphasis">Role of Situation</span>
                <p class="ml20 mt20 mb20">Situation is an important factor to determine the effectiveness of a manager.
                    A
                    manager can perform the task very smoothly in one situation and the same manager may
                    perform the same task in an inefficient manner in another situation. Therefore, only those
                    managers who can adopt the changes easily and act according to the situation can be effective
                    and efficient.</p>
            </li>
        </ul>

    </section>


    <section class="subTopicWrap">
        <h3 class="subTopic">The Internal and External Environment</h3>

        <table>
            <th>Internal</th>
            <th>External</th>
            <tr>
                <td>The Employees</td>
                <td>Politics and Gov.</td>
            </tr>
            <tr>
                <td>Organizational Structure</td>
                <td>Economics</td>
            </tr>
            <tr>
                <td>Labour Unions</td>
                <td>The society and culture</td>
            </tr>
            <tr>
                <td>The Shareholders</td>
                <td>Technology</td>
            </tr>
        </table>

    </section>

    <section class="subTopicWrap">
        <h3 class="subTopic">Corporate Social Responsibility</h3>
        <h3>The Approaches</h3>

        <ol>
            <li class="highlight emphasis">Obstruction's Approach</li>
            <li class="highlight emphasis">Defensive Approach</li>
            <li class="highlight emphasis">Accommodative Approach</li>
            <li class="highlight emphasis">Proactive Approach</li>
        </ol>
    </section>


<%-include("../../../sharedMarkups/footer")%>

