@use "../../utils/media";
@use "../../utils/customProperties";

.hero {
  position: relative;
  align-items: center;
  padding-bottom: 10vh;
  height: 90vh;
  min-height: 430px;
  min-width: 100%;
  overflow: hidden;

  @include media.widerThan768 {
    overflow: unset;
    max-height: 90vh;
  }

  @include media.widerThan1600 {
    max-height: 70vh;
  }

  &__illustration {
    position: absolute;
    left: 3.75rem;
    bottom: 3.75rem;
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
    filter: blur(2px);

    @include media.widerThan1200 {
      transform: rotate(0);
      left: 0;
      bottom: unset;
      filter: blur(5px);
    }
  }

  &__content {
    @include media.widerThan1200 {
      align-items: flex-end;
      margin: auto;
    }
  }

  &__mockupWrap {
    display: none;

    @include media.widerThan1200 {
      display: block;
      max-width: 768px;
      position: relative;
      top: unset;
      left: unset;
      transform-origin: bottom right;
      transform: rotate(0);
      border-radius: var(--space-400-rem);
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: var(--space-400-rem);

      @include media.widerThan1200 {
        box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.4);
      }
    }

    .fa-play {
      visibility: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.25);

      &--active {
        visibility: visible;
      }
    }
  }

  &__mockup {
    width: 100%;
    border-radius: var(--space-400-rem);
    filter: blur(2px);

    @include media.widerThan1200 {
      filter: blur(0px);
    }
  }

  &__taglineWrap {
    position: relative;
    z-index: 3;
    margin-bottom: 2rem;
    border-radius: var(--space-400-rem);
    color: var(--black);
    max-width: 90%;

    @include media.widerThan1200 {
      box-shadow: none;
      padding: 0;
      color: var(--black);
      max-width: 650px;
    }
  }

  &__subTagLine {
    font-size: 1.2rem;

    @include media.widerThan1200 {
      font-size: 1.5rem;
      max-width: 70%;
    }
  }

  &__cta {
    margin-top: 2rem;
    position: relative;
    z-index: 3;
    box-shadow: 6px 6px 12px rgba(#000b14, 0.3);
  }
}
