<%-include("../includes/header")%>

<main>
    <h1>Contribution Screen of <%=user.username%></h1>

    <section id="profileOverview">
        <h3>Contacts</h3>
        <ul>
            <li>fb</li>
            <li>twitter</li>
            <li>github</li>
        </ul>
    </section>
</main>

<%-include("../includes/footer")%>